[2018-08-17 14:33] bwanglzu commented on #295
please check #158 .

[2018-08-18 00:16] logicmd commented on #185
Hi Folks,

Could you help elaborate where to find test_preparation_for_classify.sh?
Thanks!

[2018-08-18 00:59] logicmd opened #296 "Unable to find test_preparation_for_classify.sh"
Hi Folks,

I found in the document https://github.com/faneshion/MatchZoo/tree/master/data/toy_example saying there is
- MatchZoo/examples/test_preparation_for_classify.py for classification
- MatchZoo/examples/test_preparation_for_ranking.py for ranking

I am wondering where to find them.

Thanks!

[2018-08-18 01:49] faneshion opened #297 "Implementation of ranking evaluations"
The ranking evaluations include MAP, NDCG@k, P@K, MRR, and so on.

[2018-08-18 01:52] faneshion commented on #287
@SmileYuhao are you one of the authors in the paper? Any suggestions and contribution are welcome!

[2018-08-18 02:14] faneshion opened #298 "Implementation of ranking loss functions"
The ranking loss functions include rank-hinge-loss and rank-cross-entropy.

[2018-08-18 02:17] faneshion commented on #296
These two script are in ['MatchZoo/examples/toy_example'](https://github.com/faneshion/MatchZoo/blob/master/examples/toy_example/test_preparation_for_classify.py).

[2018-08-18 10:38] #295 closed

[2018-08-18 16:31] faneshion opened #299 "Add ProcessUnit to split data into two tables"

[2018-08-18 16:47] faneshion opened #300 "Modify Datapack separate content and ids"
The datapack should contain two separate dataframes, including id dataframe (e.g., 'id0, id1, 1') and content dataframe (e.g., 'id0, [1, 2, 3, 4, 5]').

[2018-08-18 16:50] faneshion opened #301 "Modify generators to save memory"
All generators should re-implement the `transform_data` function, where the data are generated only based on id dataframe.

[2018-08-19 17:26] logicmd commented on #296
Thank you for the reply! I might have missed before.

[2018-08-19 17:26] #296 closed

[2018-08-20 02:41] SmileYuhao commented on #287
@bwanglzu @faneshion Apologize for a delayed response. Unfortunately, I'm not one of authors.

On the other hand, I will be very happy if I can do any contribution.

Best :)

[2018-08-22 07:56] bwanglzu commented on #230
See this one https://github.com/faneshion/MatchZoo/blob/feature/examples/examples/wikiqa/run_dssm.ipynb

[2018-08-22 12:48] bwanglzu commented on #297
just copy -> paste [this](https://gist.github.com/bwhite/3726239) piece of code :)

[2018-08-23 10:46] #300 closed

[2018-08-23 10:46] #299 closed

[2018-08-23 14:12] bwanglzu commented on #287
@SmileYuhao nice.
@faneshion how do you think?

[2018-08-24 08:06] #294 closed

[2018-08-24 11:39] faneshion commented on #287
That's nice. You can refer to [this file](https://github.com/faneshion/MatchZoo/blob/2.0/CONTRIBUTING.md) to know how to contribute.

[2018-08-25 15:52] #297 closed

[2018-08-25 15:57] faneshion opened #310 "Implement the list-wise generator."

[2018-08-25 15:58] faneshion opened #311 "Implement the ARC-I model for MatchZoo 2.0"

[2018-08-25 16:00] faneshion opened #312 "Adjust the implementation of metrics"

[2018-08-25 16:02] bwanglzu commented on #154
update Aug 23 2018
1. We finished CDSSM.
2. We finished logger, metrics.
3. Code refactoring on datapack and dssm preprocessor.
4. Adjust the based model to generator.
5. Some fix on documentation, setup, type hints.
6. Code refactoring on tasks.
7. Example Jupyter notebook for DSSM Model.

We're working on:
1. Re-implement pair-wise generator.
2. Adjust metrics
3. CDSSM preprocessor.
4. Arc1 Mode

[2018-08-26 13:44] #301 closed

[2018-08-28 09:47] hkvision opened #318 "Question: How to predict on unknown query"
Sorry for raising such question as I'm new to MatchZoo... I'm trying to use DRMM for a QA ranking problem and followed the preprocessing and training steps to train a model.
Wondering how can I do prediction for unknown data?
According to my understanding, in the preprocessing steps, all queries, docs and words are converted by ID. So if I'm given a new unseen query not in the training corpus, wha

[2018-08-28 14:51] bwanglzu commented on #318
checkout #236 .

[2018-08-31 10:49] hkvision commented on #318
@bwanglzu Thanks for your help. I have figured out how to do prediction :). I close this issue.

[2018-08-31 10:49] #318 closed

[2018-09-04 18:27] bwanglzu opened #328 "implement cdssm preprocessor"

[2018-09-05 08:45] WelcomeLi opened #329 "ERROR"
AttributeError: module 'metrics' has no attribute 'get'

[2018-09-05 09:01] #329 closed

[2018-09-06 02:18] KoreaLee opened #331 "only non-click label in training data"
Hi, in MatchPyramid model.
If I only have a non-click label in the training data, is it possible to learn model?
For example, I wonder if I can calculate the relevance score with the word exact match without click label in training data

If I have a query and a document but I do not have a label, how should I learn?
thanks you

[2018-09-06 05:27] #331 closed

[2018-09-07 03:42] sjm1992st opened #332 "matchpyramid"
I had read the paper, your model of matchpyramid is more simple ,why?

[2018-09-07 06:26] KoreaLee opened #333 "In relation_train.txt composition"
in relation_train.txt format.

`{label}\t{query}\t{document}`

What value should I use for label?
For example, clicks and non-clicks of (query, document) are not appropriate,
Can I use ctr as a relvance score instead of click, non-click label?
If you use ctr, what kind of processing is required?
I wonder how everyone uses the label.

[2018-09-07 08:30] xxllp commented on #194
我很好奇这个里面的模型训练出来的结果是怎么保存的？

[2018-09-07 09:30] bwanglzu commented on #194
@xxllp
Please refer to this [line](https://github.com/faneshion/MatchZoo/blob/47120ddd83d84623ed0f6eb49404854a579e6af8/matchzoo/main.py#L181), we use `keras.save_wegiths` to save the model weights into a HDF5 file.

In matchzoo 2.0, it's gonna be much easier to use our functional api:

[code]

[2018-09-07 09:33] xxllp commented on #194
@bwanglzu ， I see ，and  how to get the result of the predict  text ?

[2018-09-07 09:36] bwanglzu commented on #194
@xxllp I'm not familar with the previous version of matchzoo as well, but for the MatchZoo 2.0, checkout [this tutorial](http://nbviewer.jupyter.org/github/faneshion/MatchZoo/blob/2.0/notebooks/wikiqa/dssm.ipynb).

Matchzoo 2.0 is still under development, but you can checkout to 2.0 branch to take a look.

[2018-09-07 09:38] xxllp commented on #194
thanks ,I will have a look

[2018-09-07 13:27] xiqiongzhu opened #334 "When can I start to use the new version of Matchzoo?"
I'm interested in the development progress. @faneshion @pl8787
I've read the ipython notebook, seems it's much simpler to use.

[2018-09-07 20:05] logicmd opened #335 "Enable tensorboard visualization and debugging"
Hi,
I was aware that models are using Keras interface and Tensorflow backend. Can we add logging to enable tensorboard visualization?

Thanks!

[2018-09-09 14:05] pl8787 commented on #332
You can add more convolutional layers if you needed, while the overall structure is similar.

[2018-09-09 14:08] pl8787 commented on #333
It depends on your task. If you use ctr as target, you treat it as a regression task, and L2 loss can be applied.

[2018-09-09 14:11] pl8787 commented on #334
We are working on version 2.0. It will be released ASAP.

[2018-09-09 14:12] pl8787 commented on #335
That's a good idea.

[2018-09-09 14:29] ZizhenWang commented on #298
questions are listed below:
1. How to pass the user-defined value (like margin and neg_num) to the function? I try to define values in "losses.py" and implement a set and a get function to handle them, but it seems not safe. Another way is define a class and set these values as private,  I don't know is this way work.
2. I define a layer to slice keras tensors, to replace the Lambda layer in v1.0,

[2018-09-10 00:52] KoreaLee commented on #333
Thanks for replying

I tried applying the MatchPyramid model using CTR as label,
It is likely that you will need to work on additional CTRs that are too small and biasd.
When my target uses CTR, what should I do with additional preprocessing?

[2018-09-10 02:43] sjm1992st commented on #332
@pl8787 yeah...i add more convolutional layers , and I found the results were similar.I used multiple fixed-scale pooling instead of dynamic pooling in the last layer of convolution. Could you give me more information about dynamic pooling?

[2018-09-10 04:44] hkvision opened #341 "Is pip install matchzoo from pypi workable?"
I saw matchzoo on pypi: https://pypi.org/project/MatchZoo/
and I use `pip install matchzoo` to install it.
But when I run ```from matchzoo.inputs.preprocess import *``` after installation, it throws the following error:
[code]

[2018-09-10 07:18] pl8787 commented on #332
The output shape of dynamic pooling is fixed, so it is useful for the data with variance length and easy for dense layer to learn.  Replacing dynamic pooling with fixed-scale pooling leads to performance drop.
We have implemented dynamic pooling in the MatchZoo.

[2018-09-10 07:32] ZizhenWang commented on #298
Version 2.0 pushed, it use Lambda layer instead of SliceTensor in v1.0. Which one to choose requires more discussion.

[2018-09-10 08:15] KoreaLee commented on #333
In that issue, [#](https://github.com/faneshion/MatchZoo/issues/127)
I saw a description of the label.
So, do you normally calculate the relevance of two documents to be placed in a label manually?

[2018-09-10 08:38] bwanglzu commented on #341
@hkvision not yet, it's' created as a "placeholder". It will be there  as 2.0 being released.

[2018-09-10 08:43] hkvision commented on #341
Then will the instructions here using setup.py work: https://github.com/faneshion/MatchZoo#installation? I doubt if I use this way, it will still throw the above error.

[2018-09-10 08:44] bwanglzu commented on #341
@hkvision which os?

[2018-09-10 08:48] hkvision commented on #341
I'm using Ubuntu 16.04 and tried python 2.7 and 3.5, but using the master code...
I saw your reply in my PR, do you recommend me to use branch 2.0? Since I'm trying the master code from the very beginning and I notice master and branch 2.0 differ quite a lot...

[2018-09-10 08:54] bwanglzu commented on #341
@hkvision yes. there're several issues in the master branch, so we decided to develop the brand new Matchzoo (almost) from starch.
2.0 is still under development, only DSSM is available.

As you might know this project is maintained by a group of students, so we'll only fix bugs for 1.0, and devote ourselves on 2.0.
I'll create a virtualenv to check the setup and your pr.

[2018-09-10 09:06] hkvision commented on #341
Okay I see. My PR only modifies something minor so that I can run the master code after cloning the repo, which should be of low priority.
It will be nice if the master code can be installed and run successfully to user environment using setup.py.
Thanks so much for tracking this and I'm glad for help if modifications needed to support the setup.

[2018-09-10 09:11] thiziri opened #343 "How to train MatchZoo models on very large data sets"
Hi,
I have dataset with a lot of training pairs, when running MatchZoo models for training, I get a following memory error (with RAM 10GO):

Here is the running log before this error occures:
(While running mvlstm):
[code]
Thanks in advance
@pl8787 @bwanglzu @faneshion @yangliuy

[2018-09-10 09:17] bwanglzu commented on #341
@hkvision can you try to add the python path to environment variables?
use:
[code]

[2018-09-10 09:18] bwanglzu commented on #343
@thiziri which model are u using?

[2018-09-10 09:32] bwanglzu commented on #343
@thiziri as discussed before, there is an issue in the `generator`s module in current version of MatchZoo, and seems it's not solvable (and deserve to solve).

The good news is that pair-wise generator has been merged into 2.0 yesterday, see #315 .

W'll have DSSM, acc-i, cdssm available by the end of this week.

[2018-09-10 09:44] thiziri commented on #343
Okay, Thanks.
But since I've already a lot of work in progress with the current version, I'm developing my own models with it, running and modifying some other models like MVLSTM, this problem is blocking me. What do you recommend? I feel like being stuck, I'm working with this version for months now.
Is it possible to do the same tasks (developing our own models and/or modifying other models) wit

[2018-09-10 09:48] bwanglzu commented on #343
@thiziri are you in the wechat group?

[2018-09-10 09:53] thiziri commented on #343
No, I've already asked to be added, but still not :(

[2018-09-10 09:54] bwanglzu commented on #343
wha'ts your id? I'll invite you.

[2018-09-11 01:32] hkvision commented on #341
Emmm... After pip install I suppose matchzoo will be in the environment's sys.path? Let me have a try again probably.

[2018-09-12 21:20] logicmd opened #344 "Use trained CDSSM model to predict on another dataset"
Hi
I used MatchZoo to train a CDSSM model `cdssm_classify.weights.1000`. However I don't know how to use the trained model to predict on another dataset input.csv.

The format of `input.csv` is below

I saw documents say that

However, I don't know how to generate `relation_file` in `prediction` phase. I presume the model is based ids(triletter_dict.txt, word_dict.txt, word_triletter_map.txt) gene

[2018-09-13 10:16] thiziri commented on #344
Hi @logicmd ,
In fact in order to have the test set processed, you have to merge it with your initial dataset to process and generate the whole vocabulary and ids at once, here is the process:
`dataset = test_data U train_data
 preprocess(dataset)  # make sure to use the function: run_with_train_valid_test_corpus
 --> all data pre-processed`
All you need is to create the "train", "test" and "valid

[2018-09-14 08:18] thiziri commented on #343
Hi,
@bwanglzu , since the problem will be solved with the new version of matchzoo, you can close the issue if there are no more comments.
Thanks

[2018-09-14 08:36] bwanglzu commented on #343
@thiziri Thanks, I'll do this.

[2018-09-14 08:36] #343 closed

[2018-09-14 16:28] faneshion opened #347 "Add inte_test for both classification and ranking"
Here, we need to construct 'train_ranking.txt' as well as 'test_ranking.txt' to test dssm model for both ranking and classification.

[2018-09-16 14:28] #347 closed

[2018-09-16 14:34] faneshion opened #351 "Variable naming convention"
To make  each developer's coding style consistent with each other, we need to define a basic rule for variable defining

[2018-09-16 14:50] #311 closed

[2018-09-16 16:42] faneshion opened #353 "Type hint for Datapack"

[2018-09-17 01:54] logicmd commented on #344
Hi @thiziri ,

Thanks for the reply. I understand your point. You suggested I add the dataset which I want to predict into train and test dataset and go through the preprocessing to generate the id hash map.

While it is feasible, it would be still better to decouple  preprocessing from training. Your proposed approach would force the model to be retrained if I want to predict on another dataset w

[2018-09-17 07:58] #353 closed

[2018-09-17 09:18] ZeonTrevor commented on #344
Hi @logicmd, do have a look at #236, I think that's relevant to your query.

[2018-09-17 11:49] bwanglzu commented on #344
@logicmd @thiziri @ZeonTrevor Thanks for your reply, take a look at matchzoo 2.0 api [here](http://nbviewer.jupyter.org/github/faneshion/MatchZoo/blob/2.0/notebooks/wikiqa/dssm.ipynb).

[2018-09-17 21:52] logicmd commented on #344
@thiziri , it would be better that MatchZoo could support missing value. As a workaround, what you could do is to skip the tri-letter which is not in existing id map.
Please let me know if that works or not.

[2018-09-17 21:52] logicmd commented on #344
Thank you for letting me know the plans and update. @bwanglzu

[2018-09-18 07:58] #310 closed

[2018-09-18 08:45] #334 closed

[2018-09-20 02:12] xxllp opened #355 "为啥没有中文语料的例子"
不知道是否支持，会有啥区别吗

[2018-09-20 03:32] monster713 opened #356 "代码写的太乱了"
主要看的是models里面的模型代码。
代码的复用度较差。
个别脚本里，函数内的子函数，定义之后，后面居然完全没用到。

[2018-09-20 07:32] bwanglzu commented on #356
@monster713 Thanks for your comment, we're working on code refactoring.

[2018-09-21 08:07] #356 closed

[2018-09-24 15:10] bwanglzu opened #359 "arci preprocessor"

[2018-09-24 15:10] bwanglzu opened #360 "cdssm integration test"

[2018-09-24 15:11] bwanglzu opened #361 "arci integration test"

[2018-09-24 15:14] bwanglzu commented on #355
we'll add examples for matchzoo 2.0.
区别：需要一些特殊的预处理，比如分词，中文词（字）向量...

[2018-09-25 03:03] xxllp commented on #355
期待。。。

[2018-09-26 09:56] wqh17101 opened #364 "Warning when make doc"
![image](https://user-images.githubusercontent.com/26429138/46072657-84706580-c1b5-11e8-89af-040665d7829e.png)

[2018-09-26 10:43] wqh17101 commented on #364
![image](https://user-images.githubusercontent.com/26429138/46075130-1f6c3e00-c1bc-11e8-98c7-c4b46fc862f3.png)

[2018-09-26 20:02] bwanglzu commented on #364
will look a bit later

[2018-09-27 07:07] wqh17101 commented on #364
https://github.com/sphinx-doc/sphinx/issues/5322
the error '_Any' object has no attribute '__origin__' seems like a bug of sphinx
the other error is our real bug.

[2018-09-28 00:00] logicmd commented on #344
Hi @bwanglzu , are we still on track about 2.0 release?

[2018-09-28 00:01] logicmd commented on #344
here is the output I got from model output
anyone know its schema?

[code]

[2018-09-28 05:13] ZizhenWang opened #366 "sliding window unit"
sliding window is useful in many models, like convolution-based models

[2018-09-28 07:46] wqh17101 commented on #355
实际上你可以自己按照example进行处理自己的语料，然后使用模型，可以照常work @xxllp

[2018-09-28 07:49] xxllp commented on #355
不做验证就无法证明一定work 的

[2018-09-28 08:01] bwanglzu commented on #344
@logicmd the plan is to finalize dssm, cdssm and arc1 before oct 1. See pull request, it's done waiting for review.

[2018-09-28 18:52] logicmd opened #368 "Different trained model using python 2.7 and python 3.6"
Hi there,
I trained two models using tensorflow 1.7.0 with python 2.7 and python 3.6 in aws deeplearning ami 8.0.

By using the same data, config, the two models trained for both 1000 iterations are significantly different.

Model using python 2.7 loss is converged to 0.2 and precision is 93%
Model using python 3.5 loss is converged to 0.4 and precision is 82%

Do you guys has any recommendation?

[2018-09-28 18:53] logicmd commented on #344
Thank you @bwanglzu

[2018-09-28 22:08] logicmd opened #369 "Calculate loss as part of metrics when evaluating validation/test dataset"
Hi folks,

It is well known that we can use loss in training/validation dataset to check if model is overfitting or not.
Do we know how to calculate loss value as part of metrics when evaluating validation/test dataset ?
https://github.com/faneshion/MatchZoo/blob/master/matchzoo/main.py#L178

Attached a snippet of my training log

[2018-09-29 02:08] ZizhenWang commented on #369
When we calculate loss in either training or validation dataset, we use the model predict result and the ground truth. So if you have ground truth on your test dataset, you can calculate the loss and the other metrics just treat it as a training dataset.

[2018-09-29 08:44] jasonjiehub commented on #355
是啊，国内自己出的，居然不支持中文语料处理的吗

[2018-09-29 08:45] jasonjiehub commented on #355
跟踪代码看了下，主要在preprocess.py里面进行的处理，这里面目前看样子只支持英文分词，以空格分隔。想支持中文的话，这里需要自己改。

[2018-09-30 01:32] guotong1988 opened #370 "Implement MCAN？"
Multi-Cast Attention Networks

[2018-09-30 06:01] logicmd commented on #369
@ZizhenWang thanks for the reply. Looks right now we are using tensorflow api to calculate the loss in training dataset https://github.com/faneshion/MatchZoo/blob/master/matchzoo/main.py#L156?

Do you have any code example of calculating loss in validation dataset? I can't find any code doing that...

[2018-09-30 07:31] ZizhenWang commented on #369
actually the following code block from line 158 to line 178 in `main.py` is the calculation of evaluate metrics (loss or other metrics) on validation dataset, you can run a model and see loggings on the screen.

[2018-09-30 07:31] #369 closed

[2018-09-30 09:40] ZizhenWang commented on #369
you can set the validation dataset path in model configuration file, see demo in https://github.com/faneshion/MatchZoo/blob/ec0fef5e849f2439b08b2cf81e3192e39725eae0/examples/toy_example/config/matchpyramid_classify.config#L35

[2018-10-01 01:43] logicmd commented on #369
@ZizhenWang Sorry, I don't quite follow that...

How can I call `history.history['loss'][0]` in line 178? There is no `history` right?

[2018-10-01 01:59] logicmd commented on #366
I thought we have used that in CDSSM, haven't we?
https://github.com/faneshion/MatchZoo/blob/ec0fef5e849f2439b08b2cf81e3192e39725eae0/examples/toy_example/config/cdssm_classify.config#L71

[2018-10-01 02:16] logicmd opened #371 "Output schema of prediction phase"
Here is the output I got from model output in prediction phase
Anyone know what is `inum`(4th column), `gt`(7th column) is about?

[code]

here is the code I found for outputting the prediction

[code]

_Originally posted by @logicmd in https://github.com/faneshion/MatchZoo/issues/344#issuecomment-425279150_

[2018-10-01 19:31] JacobPolloreno opened #372 "How do I implement the 2.0 metrics into DSSM model?"
I tried looking at old version of MatchZoo but found the implementations to be different(more Keras like with y_true and y_pred).

I'm using the DSSM model with rank hinge loss and want to get MAP and NDCG metrics running. I see that they're implemented but not sure how to integrate them into the new API.

Any hints? Thanks

Currently using old implementation instead.
[code]

[2018-10-02 15:07] ZizhenWang commented on #366
@logicmd Yes! But this unit is developed for version 2.0, which we want the users code more convenient and  efficient. And it is a general unit, not only for CDSSM, but also for some other models.

[2018-10-04 04:39] hexiang129 opened #373 "CDSSM output layer for classification"
In CDSSM model implementation, it first calculate cosine similarity with Dot, which is a scalar, then it feeds the scalar to Dense with output size=2 and activation type being "softmax". This is really weird. How could one product a softmax for binary classification from a single scalar? Did I miss something here?

[2018-10-04 15:21] bwanglzu commented on #373
check out section 4, this [paper](http://www.iro.umontreal.ca/~lisa/pointeurs/ir0895-he-2.pdf):

[2018-10-04 15:32] bwanglzu commented on #372
Hi @JacobPolloreno yes they're implemented, but the integration test was not done at the moment.

We have to refactor the code a little bit, this has been assigned in issue #312 .

[2018-10-04 15:36] #298 closed

[2018-10-04 22:11] hexiang129 commented on #373
Thanks. Yes. I am referring to task type=classification. I read the referred paragraph in the paper. To create the SoftMax, there needs to be some negative documents. (to simulate the capitable D in the paper).  Where shall I supply these negative documents in the current cdssm implementation?

[2018-10-05 02:10] ZizhenWang commented on #369
It uses different ways to calculate metrics.
While in training,  it can calculate `loss`  by default Keras `history`.
While in validation, we first get ground truth by `data generator` https://github.com/faneshion/MatchZoo/blob/ec0fef5e849f2439b08b2cf81e3192e39725eae0/matchzoo/main.py#L158-L163
And then get model predict result
https://github.com/faneshion/MatchZoo/blob/ec0fef5e849f2439b08b2cf81e3

[2018-10-05 07:53] bwanglzu commented on #373
@hexiang129 It's not implemented in the current version of MatchZoo, but it will be there in MatchZoo 2.0.

Take a look our new [PairGenerator](https://github.com/faneshion/MatchZoo/blob/5d0d8e7f985c3e4f838744e2e8042e67ed46b7e8/matchzoo/generators/pair_generator.py#L57)

[2018-10-05 10:38] bwanglzu commented on #370
@guotong1988 Hi, thanks for your comment, I was wondering would you like to contribute?

[2018-10-05 11:31] guotong1988 commented on #370
I am trying to implement it in tensorflow.  In fact I am not sure my implementation is right so I wish I could find a keras version here. If I success to implement it in tensorflow, I will contribute.

[2018-10-05 13:35] pl8787 commented on #371
@logicmd The `inum` is the rank of the document and the `gt` is the ground truth label.

[2018-10-05 13:54] daltonj commented on #273
Any update on this issue?

[2018-10-05 13:57] bwanglzu commented on #273
@daltonj We've impelmented PairGenerator, PointGenerator and ListGenerator under branch 2.0. We're still working on the integration test :)

[2018-10-05 14:48] #366 closed

[2018-10-05 17:55] hexiang129 commented on #373
I see. thank you!

[2018-10-05 17:55] #373 closed

[2018-10-05 18:58] bwanglzu commented on #370
@guotong1988 matchzoo is built based on keras, when I'm free, I'll read the paper.

I've created an issue in our [paper list](https://github.com/NTSC-Community/awaresome-neural-models-for-semantic-match/issues/10), if you're motivated, I can tell you how to do it for MatchZoo.

[2018-10-05 20:31] bwanglzu opened #379 "generator api in 2.0 is not user-friendly"
Try the generator api when making predictions use the code [here](https://github.com/faneshion/MatchZoo/blob/hotfix/notebook/notebooks/wikiqa/dssm.ipynb).

Also, need to integrate the metrics and loss as was mentioned in #372

[2018-10-05 21:05] #364 closed

[2018-10-05 21:11] logicmd commented on #371
@pl8787 , thanks. Is `inum` the rank of document of same query?

[2018-10-05 21:30] bwanglzu opened #381 "factor out segmentation logic from base preprocessor"

[2018-10-05 23:58] logicmd commented on #344
@bwanglzu do we have 2.0 in master branch? Or do you still recommend 2.0 branch to use 2.0?

[2018-10-06 13:07] bwanglzu commented on #372
I wrote a tutorial at [here](https://github.com/faneshion/MatchZoo/blob/hotfix/base-model/notebooks/wikiqa/dssm.ipynb), but we need to refactor the metrics a little bit.

[2018-10-07 07:42] faneshion opened #384 "Add WikiQA dataset for model testing"

[2018-10-07 12:47] bwanglzu commented on #384
not agree, see #230

[2018-10-07 15:06] bwanglzu opened #386 "implement bimpm"

[2018-10-07 15:06] #381 closed

[2018-10-07 15:07] #384 closed

[2018-10-07 15:08] faneshion opened #387 "refactor/generator_ids"
splits the 'ids' into 'id_left' and 'id_right'.

[2018-10-07 15:17] bwanglzu commented on #387
#379

[2018-10-07 15:38] #332 closed

[2018-10-07 15:38] #386 closed

[2018-10-07 15:39] #36 closed

[2018-10-07 15:39] #147 closed

[2018-10-07 15:49] bwanglzu commented on #154
Update Oct 07 2018

1. CDSSM Preprocessor Done
2. ArcI preprocessor Done
3. Fix CI issues.
4. Fix docstring issues.
5. Loss function refactoring.
6. Base preprocessor refactoring.

Working on:

1. Refactor dssm/cdssm/arci preprocessor.
2. Update metrics
3. finish integration  test.
4. Implement Bimpm model.
5. Refactor generator api.

[2018-10-08 11:33] #387 closed

[2018-10-08 11:34] #379 closed

[2018-10-08 12:30] bwanglzu opened #390 "bug in pair generator"
line 138: `[ids]` -> `['id_left', 'id_right']`?

[2018-10-08 15:43] skyrusai opened #391 "example里的数据集下不到了，能不能提供备份"
http://qim.ec.quoracdn.net/quora_duplicate_questions.tsv

[2018-10-08 21:01] logicmd commented on #344
yes, as we discussed, 2.0 would decouple training and evaluation using CDSSM model which is exactly what I need.

[2018-10-09 14:21] ZizhenWang opened #393 "bug in integrate test dssm model"
https://github.com/faneshion/MatchZoo/blob/18e899ffbe2030e0f2e07aa3ebc4260bafe87fb8/tests/inte_test/test_dssm.py#L43-L46
preprocess test data should use `preprocessor.transform` right ? I don't know if `preprocessor.fit_transform` leads to some confusion ?

[2018-10-09 14:26] #393 closed, assigned to bwanglzu

[2018-10-09 14:28] ZizhenWang commented on #393
`preprocessor.fit_transform` check `stage` to decide using which method.

[2018-10-09 18:48] #390 closed

[2018-10-09 18:48] #359 closed

[2018-10-10 09:28] ZizhenWang opened #394 "is consistent process units' transformer IO type necessary?"
in process units' `transform` method, the input and output type are different like
- `list` input `list` output as `LowercaseUnit`
https://github.com/faneshion/MatchZoo/blob/b3d61fba9e7120a9216729f02cf8b9127208682d/matchzoo/preprocessor/process_units.py#L55
-  `list` input `np.ndarry` output as `WordHashingUnit`
https://github.com/faneshion/MatchZoo/blob/b3d61fba9e7120a9216729f02cf8b9127208682d/ma

[2018-10-10 12:38] bwanglzu commented on #368
Hi @logicmd I guess there is a bug in the generator in MatchZoo 1.0, but I'm not quiet sure about that.
@faneshion Can you answer?

[2018-10-10 12:42] bwanglzu commented on #344
@logicmd By this weekend I'll write a tutorial on "train a CDSSM model using matchzoo 2.0", currently @ZizhenWang is working on CDSSM integration test, once it's merged it should be done done.

The only possible issue is that you can only use Keras metrics at the moment since the MatchZoo customized metrics (see metrics.py undetr 2.0 branch) need refactoring.

[2018-10-10 19:35] bwanglzu commented on #391
hi @skyrusai , thanks for your input!

In matchzoo 2.0 we'll not provide any dataset anymore, my suggestion is to download the needed dataset whenever you want from the original data source.

[2018-10-10 23:27] logicmd opened #398 "v1.0 config equivalent in v2.0"
Hi,

I found v2.0 no longer support training config in v1.0.

Is [categorical_crossentropy](https://github.com/faneshion/MatchZoo/blob/master/examples/toy_example/config/cdssm_classify.config#L78) equivalent to losses.rank_crossentropy_loss in [2.0](https://github.com/faneshion/MatchZoo/blob/2.0/matchzoo/losses.py#L36)

[2018-10-11 00:33] logicmd commented on #398
What is dim_fan_out in 2.0? is it the size of q vector and d vector?

[2018-10-11 08:04] bwanglzu commented on #398
1. we no longer have configurations in 2.0.
2. categorical_crossentropy is keras loss, while rank_crossentropy is matchzoo customized loss function for ranking task.
3. dim_fan_out means dimensional of the output layer.

Read [2.0 tutorial](https://nbviewer.jupyter.org/github/faneshion/MatchZoo/blob/2.0/notebooks/wikiqa/dssm.ipynb).

[2018-10-11 08:20] avoidthevoid opened #399 "How is the dev set used in MZ during training?"
Hi,

I am using MZ to rank a dataset different from the examples. Below I have put a snippet of the logs created by the ARCII model in the training phase. It shows 5 iterations that each consist of three steps (Train:train, Eval:test, Eval:valid). Now I know the first step is just training the model, but then I am wondering:
-How are **Eval:test** and **Eval:valid** used in the model during the tr

[2018-10-11 15:11] #391 closed

[2018-10-11 18:19] logicmd commented on #398
Thanks @bwanglzu  I was following  2.0 tutorial.

[2018-10-11 19:27] logicmd commented on #398
@bwanglzu I checked predictions
why it is a two column matrix?
[code]

[2018-10-11 19:29] logicmd commented on #398
@bwanglzu maybe you guys update api but not tutorial, there is no more `ids` in `X_te` . I don't think it is worth a PR so I post it here.

[code]
should be
[code]

[code]

[2018-10-11 19:55] bwanglzu commented on #398
@logicmd exactly, we sent a PR two days ago to update the generator. Would you like to send a PR to update the dssm tutorial?

[2018-10-11 20:02] bwanglzu commented on #398
besides, how do you feel about the 2.0 api? We've been working on this for several months (part-time). Think all models will be there before the end of this year.

[2018-10-11 21:41] logicmd commented on #398
sure, I can send a PR. The 2.0 API is much cleaner. To be honest there is too much parameter in 1.0, most of them I don't know how to correspond with CDSSM paper. For 2.0, I felt like parameter are much cleaner and it can be correspond with CDSSM paper easily.

[2018-10-11 21:42] logicmd commented on #398
@bwanglzu could you help elaborate why prediction is two column matrix? which column should I trust?

[2018-10-12 08:49] bwanglzu commented on #398
Hi, @logicmd as you might have seen my previous comment:

if you want to create a ranking task, then you need to change the generator to ranking generator. for example:

[code]
Then you need to set the parameters as a ranking task.

[code]
Then it will produce the 1d output

[2018-10-12 09:10] bwanglzu commented on #355
@jasonjiehub 我们现在在写matchzoo 2.0，有时间会加上中文的例子。可以切换到2.0分支体验一下全新的api。

[2018-10-12 10:42] bwanglzu commented on #351
unify import order:
[code]

[2018-10-12 10:49] #328 closed

[2018-10-12 15:09] bwanglzu commented on #398
@logicmd The bug has been fixed, see [here](https://github.com/faneshion/MatchZoo/blob/2.0/notebooks/wikiqa/dssm.ipynb) how to use dssm for ranking task.

[2018-10-13 16:28] bwanglzu commented on #154
Update Oct 12 2018
1. CDSSM Preprocessor refactor done &  merged.
2. Arc1 Preprocessor refactor done & merged.
3. Arc1 integration test done & merged.
4. CDSSM integration test done not merged.
5. DSSM tutorial update, merged.
6. Bug fix on generator, merged.
7. Base Preprocessor Refactor, merged.
8. metrics refactor working.
9. BiMPM Multi-Perspective layer working.
10. Some organization stuff.

[2018-10-13 17:02] #361 closed

[2018-10-13 20:50] bwanglzu opened #404 "arc1 tutorial (notebook)"

[2018-10-13 20:51] bwanglzu opened #405 "cdssm tutorial (notebook)"

[2018-10-14 08:50] #344 closed

[2018-10-14 08:51] #37 closed

[2018-10-14 08:52] #50 closed

[2018-10-14 08:52] #341 closed

[2018-10-14 08:53] #276 closed

[2018-10-14 09:17] faneshion commented on #399
You are right, only the loss of training set is used to improve the model. We do not train the model on dev set. You can choose to config the Eval:valid part or not. The valid set is used to choose the final model. The Eval:test set is to show how the performance varies along with Eval:valid set. While in predicting, it is no need to config the valid part.

[2018-10-14 13:39] faneshion opened #408 "update the badge information"
Update the linkage of badges after the project transferred.

[2018-10-14 15:06] #408 closed

[2018-10-14 21:09] #230 closed

[2018-10-15 10:07] bwanglzu commented on #264
Hi @thiziri take a look at [arc1 example](https://github.com/NTMC-Community/MatchZoo/blob/2.0/matchzoo/preprocessor/arci_preprocessor.py), this is how we do pre-processing using a `FixedLengthUnit`.

After your input has been pre-processed, you can employ a generator (point-wise, pair wise or list wise) to generate batches of data, then feed into your created keras model.

An example 2.0 pipeline

[2018-10-15 13:49] ZizhenWang opened #414 "reason for CDSSM integrate test error"
For CDSSM model, we generate data shape as `[window_num x ngram_dims]` to present texts, different texts may have different `window_num` because of different length. Consider we save data in `np.array` structure, which package variable length elements by `list()` to align them. A simple example is
`>>> np.array([[1], [1, 2], [1, 2, 3]])`
`array([list([1]), list([1, 2]), list([1, 2, 3])], dtype=obj

[2018-10-15 18:47] bwanglzu commented on #398
@logicmd Only `PairGenerator` has the parameter called `negative_sampling`.

[2018-10-17 08:16] ZizhenWang opened #417 "FixedLengthUnit can not handle empty list as input"

[2018-10-18 14:23] ZizhenWang opened #420 "[hotfix] cdssm preprocess dont need SlidingWindowUnit"
the first layer of CDSSM model is `Conv1D`, which doesn't need a extra `sliding window process` :dizzy_face:

[2018-10-18 19:00] bwanglzu commented on #420
convince me it's a bug @ZizhenWang

[2018-10-19 09:18] ZizhenWang commented on #420
assume input text is
`[word1, word2, word3, word4, ... ]`
after word hashing ,it can be transformed to
`[word1_ngram, word2_ngram, word3_ngram, word4_ngram, ...]`
the CDSSM file define the model structure as `Input -> Conv1D -> ...`
so if the input data has shape as `[word1_ngram, word2_ngram, word3_ngram, word4_ngram, ...]`,  `Conv1D` use the `kernel_size` to represent `sliding window length`, an

[2018-10-19 12:01] avoidthevoid commented on #399
I see, thank you for your reply!

[2018-10-19 12:22] avoidthevoid opened #424 "Adopted Hyperparameter Tuning Process for WikiQA"
Hi there,

The default configurations in `examples/WikiQA/config` have been optimized for the WikiQA dataset.

Now, I am however wondering which hyperparameters where included in the hyperparameter tuning so that eventually these parameter configurations were selected?

1. I am especially wondering why **Duet** uses the `embed_glove_d50_norm` embedding and why e.g. **ANMM** uses the `embed.idf` em

[2018-10-19 12:32] bwanglzu commented on #424
@avoidthevoid I was not able to answer questions related to the current version of Matchzoo, but I'd suggest you to take a look at [matchzoo 2.0](https://github.com/NTMC-Community/MatchZoo/tree/2.0), it's under development, will be released in about 2 months.

Use matchzoo 2.0 api it's much easier for you to fine-tune the hyper-parameters, an example tutorial can be see at [use matchzoo 2.0 to tra

[2018-10-19 18:34] denisb411 opened #426 "Using a model as a search engine"
I see that the models usually needs a text1 and text2 to perform the training and predictions.
Usually on search engines I just need the text2 (document) to perform the indexing step (training).

How can I train the model like a search engine? i.e. I don't have the text1 information (query/question) and I want to index my documents.

Does using the same text for text1 and text2 works for training?

[2018-10-19 18:58] bwanglzu commented on #426
@denisb411 take a look at this image, you'll get the point:

![learning-to-rank](https://cdn-images-1.medium.com/max/978/1*7W4o-zTHSoXkw8qZVswwIQ.png)

[2018-10-19 19:10] denisb411 commented on #426
@bwanglzu Thanks, but I didn't get it. What are x and y supposed to be?

[2018-10-19 19:43] bwanglzu commented on #426
@denisb411 It's a bit tricky to explain machine learning for information retrieval in short, but x usually refers to `training data`, i.e. `(query, document)` pair, y usually refers to labels (the relevance degree annotated by human-beings).

Given `x -> (queries, documents)` and `y -> labels`, we usually employ a machine learning (or deep learning algorithm) to fit a model to minimize the loss. T

[2018-10-19 19:58] bwanglzu commented on #183
@rgtjf can you take a look at #423 ?

[2018-10-20 06:10] faneshion opened #428 "[hotfix] redefine the 'stage'"
The `stage` we have defined in `base_generator` and `base_preprocessor` should be redefined. It should contain '[train, test, predict]', where both 'train' and 'test' need to provide 'x' and 'y' as inputs, and 'predict' only need the 'x' as input.

[2018-10-20 08:58] bwanglzu commented on #428
`train`, `dev` and `test` or `train`, `validation` and `test`? See [here](https://cs230-stanford.github.io/train-dev-test-split.html)

[2018-10-20 09:00] #426 closed

[2018-10-20 14:45] lixinsu opened #431 "Enhance embedding class to adapt various embedding files"

[2018-10-21 08:22] #264 closed, assigned to faneshion

[2018-10-21 08:42] #405 closed

[2018-10-21 08:45] bwanglzu commented on #420
no, the shape of the input data should be num_word_ngrams * 3dim_triletter.
After sliding window, the sentence "this is a test sentence" -> `[[this is a], [is a test], [a test sentence]]`
Each word, say it's a 30000 dimensional vector, then the sentence will be represented as:
[code]
So the input shape (x) should be num_word_ngrams (i.e. 3 here) * 90000.
Without sliding word unit, you didn't even

[2018-10-21 09:36] ZizhenWang commented on #420
we should consider the convolution process, if the input data is `[[this is a], [is a test], [a test sentence]]` and the kernel size is 3, then the output is `W * [[this is a], [is a test], [a test sentence]] + b`, not what we wanted like `[[W * [this is a] + b], [W * [is a test] + b], [W * [a test sentence] + b]] `

[2018-10-21 13:54] #428 closed

[2018-10-21 16:19] faneshion opened #435 "Implement MatchPyramid."
Implement the basic model of matchpyramid, and add inte_test for it.

[2018-10-21 16:21] faneshion opened #436 "Implement match-lstm."
Implement the basic model of match-lstm as well as the integration test.

[2018-10-21 16:37] faneshion opened #437 "add team and organizers in readme"

[2018-10-21 16:38] faneshion opened #438 "improve homepage"
Add more detailed information for the homepage.

[2018-10-21 16:39] #404 closed

[2018-10-21 16:42] faneshion opened #439 "Refactor the `base_task`"
Refactor the `base_task` as the task is associated with metric and loss.

[2018-10-21 16:48] faneshion opened #440 "Add dssm noteboook for classification"
The dataset for classification task is the quoraqp dataset (i.e., https://data.quora.com/First-Quora-Dataset-Release-Question-Pairs). The whole process should include both `train`, `evaluate`, and `predict`.

[2018-10-21 16:50] faneshion opened #441 "Add arci notebook for classification"
The dataset for classification task is the quoraqp dataset (i.e., https://data.quora.com/First-Quora-Dataset-Release-Question-Pairs). The whole process should include both train, evaluate, and predict. This issue is also connected with #440. We can discuss together.

[2018-10-21 20:40] Victor0118 opened #442 "Questions of some implementation details"
1. In the [MVLSTM paper](https://arxiv.org/pdf/1511.08277.pdf), the author used Cosine/Bilinear/Tensor function to model interactions while in Matchzoo implementation (https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/models/mvlstm.py#L53), you use Dot product if I understand correctly.  Would you consider adding them into Matchzoo?

2. In the [aNMM paper](http://maroo.cs.umass.edu/p

[2018-10-22 08:52] avoidthevoid commented on #424
Hi @bwanglzu,

Thank you for your reply and great job on the work on MatchZoo 2.0! Due to time constraints, I will unfortunately have to stick to the 1.0 version for now. If any of your colleaugues would have the answer to the 3 questions, that would really be wonderful.

Anyhow, thanks for your time!

[2018-10-22 12:00] denisb411 commented on #426
@bwanglzu Thanks a lot for your explanation. It was just a little bit hard to me that it covers a supervised scenario. I thought that we could train a model with just the documents, something like x, y = document, document and latter on predict with x, y = document, query. Don't know if it works tho.

[2018-10-22 17:03] faneshion commented on #442
Yeah. The models you have mentioned above have different implementations since there are different choices in some specific layers. In the previous version(i.e., the master branch), we only selected the best choice in our data. Right now, we are working on the 2.0 version, we will make it as more flexible as possible. By the way, we are looking forward to more developers to join us to make this to

[2018-10-22 17:03] faneshion commented on #442
Yeah. The models you have mentioned above have different implementations since there are different choices in some specific layers. In the previous version(i.e., the master branch), we only selected the best choice in our data. Right now, we are working on the 2.0 version, we will make it as more flexible as possible. By the way, we are looking forward to more developers to join us to make this to

[2018-10-23 04:20] yangliuy commented on #442
@Victor0118 Thank you for your question! For the question on aNMM, the main difference between aNMM2 and aNMM1 is that there is one additional hidden layer in aNMM2 which could enable us to use multiple sets of value-shared weights for each QA matching vector. In the current implementation, you can set num_layers to change the number of layers in this feed forward neural networks. As shown in the

[2018-10-23 04:35] yangliuy commented on #424
@avoidthevoid Thank you for your questions!

For Q1, it is not feasible to test the performance of every different embedding inputs. As you know, we have many different choices on the training algorithms (Skip-gram, CBOW or Glove), different embedding dimensions (100,200,300,...).  Thus it is not possible to try all combinations for this. But there are some common settings adopted by many previous

[2018-10-23 04:38] yangliuy commented on #370
@guotong1988 Welcome to make contributions to MatchZoo!

[2018-10-23 11:49] pl8787 commented on #442
Please see (MatchLayer)[https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/layers/Match.py] and (MatchTensorLayer)[https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/layers/MatchTensor.py].

[2018-10-23 13:47] avoidthevoid commented on #424
Hi @yangliuy,

Thank you for the elaborate answers, they are very helpful.
I will be on the outlook for the answer to Q3.

Thank you for your efforts!

[2018-10-24 21:57] logicmd opened #444 "MatchZoo 2.0 CDSSM training stuck when preprocessing"
I am using Deep Learning AMI 14.0 on p3.8xlarge to train CDSSM model, however, since 2.0 the training become less stable. In recent iterations, encountered multiple OOM when executing preprocessing part.

Can anyone take a look at it?
[code]

[2018-10-24 22:16] logicmd commented on #398
是的。请问何时用PairGenerator合适，何时用PointGenerator合适呀？CDSSM的分类任务中应该用PairGenerator吗？我因为在使用MatchZoo v1时候就生成了负例了，所以不希望framework再生成负例。

[2018-10-25 07:24] faneshion opened #445 "Support Mask in generator"
We need to provide text length for the model to support the varied-length processing.  One common practice is to add an additional mask tensor in the generator.

[2018-10-25 09:32] bwanglzu commented on #398
@logicmd 当你需要正例匹配负例的时候用PairGenerator，如果已经弄好了直接用Point即可～

[2018-10-25 17:09] yuan-pku opened #448 "Wrong base of logarithm when computing nDCG"
I am afraid that, in metrics/evaluation.py, line 60,
`idcg += (math.pow(2., g) - 1.) / math.log(2. + i)` should be
`idcg += (math.pow(2., g) - 1.) / math.log(2. + i, 2)`
because the base of logarithm defaults to e instead of 2.

[2018-10-25 17:35] #448 closed

[2018-10-26 12:09] #437 closed

[2018-10-26 13:15] tc-yue opened #450 "MatchSRNN Confusion"
在matchsrnn中
`match_tensor_permute = Permute((2, 3, 1))(match_tensor)`
这一层在后面没有用到吧。
还有matchsrnn的速度是不是很慢啊。

[2018-10-26 15:21] Victor0118 commented on #442
@pl8787 @yangliuy @faneshion Thanks for your reply! I think usually we choose a structure that performs well in one test set but we cannot ganrentee this advantage generalize to other domains and datasets. The best option should be keeping all options and let the users do the configuration.

 I'd like to help with the version 2.0 since I will work with the toolkit for a while. Personally I think M

[2018-10-27 09:30] bwanglzu opened #452 "Implement CharacterEmbeddingLayer"

[2018-10-27 13:49] ZizhenWang opened #453 "add cdssm model notebook for classification task"

[2018-10-27 16:10] lixinsu opened #454 "Create some common useful layers for several models"
We need to create some common layer as follows:
- WrappedGRU, process sequence of variable lengths in a mini-batch data.
- Wrapped LSTM, process sequence of variable lengths in a mini-batch data.
- AttentionWeight, Calculate attention weight between two sequences of vectors.
- AttentionVecotor, Calculate attention vectors and attention weights.

[2018-10-29 02:06] #420 closed

[2018-10-29 03:59] wqh17101 opened #458 "Hoempage suggestion"
Add some comments for the homepage 2.0

[2018-10-29 07:59] uduse commented on #458
- I don't like this blue bar, but it's up to taste.
![image](https://user-images.githubusercontent.com/4717005/47636111-3377d680-db92-11e8-96ab-671261f79a66.png)
- Distorted logo
- The animation gif
    - distorted
    - I checked its size and it is larger than 1M, which takes a while to load and also mobile unfriendly
    - too slow, speed it up at least 3x
- "Deep learning for semantic matching"

[2018-10-29 08:55] faneshion commented on #442
That would be nice if you can join us. Right now,  we have a large number of models to be implemented under the 2.0 framework. You can refer to [this file](https://github.com/NTMC-Community/MatchZoo/blob/2.0/CONTRIBUTING.md) to see how to contribute. You can familiar with the whole process first.

[2018-10-29 20:45] bwanglzu commented on #444
memory issue, each document is represented as an approx 90000 dimensional sparse vector, and caused this issue.
Will be resolve in #452

[2018-10-29 20:54] bwanglzu commented on #439
same issue as #449 ?

[2018-10-29 20:55] bwanglzu commented on #438
close this for #458

[2018-10-29 20:55] #438 closed

[2018-10-29 20:59] bwanglzu commented on #450
hi @tc-yue thanks for your message. I'm not quiet sure about that, guess @faneshion will answer the question for you.
Besides, we're working on matchzoo 2.0 at the moment, checkout to 2.0 branch and take a look!  Efficiency issue will be taken into consideration.

Best!

[2018-10-30 07:45] malarinv commented on #6
Found a textnet-model config for deeprank model here https://github.com/pl8787/textnet-model/blob/master/letor/config/letor.deeprank.2dgru.config couldn't find the corresponding implementation.. @pl8787 any suggestion on how to use it? Thanks.

[2018-10-31 09:08] #312 closed

[2018-10-31 09:08] #439 closed

[2018-11-03 22:10] DuyguA commented on #440
Hello,
I looked for the link of the notebook. Would it be possible to share it?

[2018-11-05 09:13] uduse commented on #440
@DuyguA the notebook is still under construction, an old version is available in 2.0 branch under the "notebook" dir.

[2018-11-05 11:33] fthbrmnby opened #465 "DSSMPreprocessor Error After Loading"
After saving the `preprocessor.DSSMPreprocessor()` and loading it back again, calling:
[code]
would throw the following error:
[code]

After the error, if one calls the fit_transform again, the error would change to:

[code]

Here is how I load and call preprocessor:
[code]

Don't know if this is a issue or I am doing something wrong (**Using MatchZoo:2.0**).

[2018-11-06 07:59] bifeng opened #466 "implement ABCNN?"
Is there possible to implement [ABCNN](https://github.com/galsang/ABCNN)?

[2018-11-06 12:08] faneshion commented on #465
To save the preprocessor, you need to do `fit_transform` on the training dataset.
[code]

[2018-11-06 12:15] faneshion commented on #466
Sure, you can add this model to [the list](https://github.com/NTMC-Community/awaresome-neural-models-for-semantic-match) since we now focus on developing the 2.0 framework. It would be better if you can join us to develop more models.

[2018-11-06 12:17] fthbrmnby commented on #465
I am already fitting the preprocessor on traning dataset before saving (forgot to mention, sorry). Currently I am saving the `term_index` dictionary in preprocessor with pickle instead of preprocessor and using it in other project as a workaround.

[2018-11-06 16:41] uduse commented on #465
@fthbrmnby 1. Are both of your projects on the latest version of 2.0? 2. are you using more than one `matchzoo.DataPack` somewhere? it has some data integrity problem now. I am looking at this exact line
![image](https://user-images.githubusercontent.com/4717005/48079127-a71a8300-e225-11e8-8e37-5eeff46d1637.png)
it might be the cause. Way to check this is to make sure you have 'term_index' in the

[2018-11-06 16:51] uduse commented on #465
@fthbrmnby

![image](https://user-images.githubusercontent.com/4717005/48079684-d1207500-e226-11e8-9b77-32461dd5aa02.png)

Another possible reason is the datapack stored in the preprocessor is overwritten if the stage is `"evaluate"` or `"predict"`. To check this, look at ` preprocessor.datapack.context` right after you load it.

No matter what's the bug causing the issue, there are major design f

[2018-11-06 20:01] Victor0118 commented on #442
@faneshion Thanks! I'll pick a model to implement.

[2018-11-06 20:01] #442 closed

[2018-11-07 07:08] fthbrmnby commented on #465
@uduse

I believe this is the issue, the term index is there when you load it and it is gone after you call `fit_transform`.

[code]

[2018-11-07 09:34] uduse commented on #465
@fthbrmnby Got it. Reworking on the whole preprocessor and datapack things now.

[2018-11-07 10:40] pl8787 opened #469 "Implement ArcII"

[2018-11-09 18:09] uduse commented on #452
#470

[2018-11-11 07:39] zhouzhouyang520 opened #471 "Implement MV_LSTM"

[2018-11-12 04:17] WelcomeLi opened #473 "Elmo and BERT"
How to use Elmo and BERT in MatzhZoo?

[2018-11-13 11:15] #465 closed

[2018-11-14 03:46] ZhikuoChen opened #474 "Parameter problem？"
Hello! I have 2 problems.
1. https://github.com/NTMC-Community/MatchZoo/blob/master/examples/wikiqa/config/drmm_wikiqa.config
I think "embed_path": "./data/WikiQA/embed.idf" has a problem because the ‘"embed_size" is 300, and the dimension of embed.idf is one-dimensional.
2. What does the embed.idf file do?
Thank you!  I‘m looking forward to your reply.

[2018-11-15 08:16] faneshion commented on #473
You can try to extract the term representations of these model as the initial value of the embeddings in MatchZoo. Actually, I have not experimented with this. If you have any results, welcome to share with us.

[2018-11-15 08:18] faneshion commented on #474
In the original DRMM paper, the term gating network used the idf as input. Here, we treat idf value of each term as a 1-dimension vector representation.

[2018-11-15 12:31] ZhikuoChen commented on #474
OK. Then why does embed_size equal to 300 in https://github.com/NTMC-Community/MatchZoo/blob/master/examples/wikiqa/config/drmm_wikiqa.config?

[2018-11-15 23:33] cmacdonald opened #476 "2.0-dev branch: why does mz.pack drop the label column?"
Due to #273, we tried the 2.0 branch.
Due to #444, we are trying out the 2.0-dev branch, as 2.0 is not working.

In 2.0-dev, only sandbox.ipynb is still valid.
I'm mystified about this line:
`train_pack.relation['label'] = np.random.randint(low=0, high=2, size=len(train_pack.relation))`
Why can't mz.pack retain any label that is present?

[2018-11-16 02:47] uduse commented on #476
I'm sorry about your confusion, the `sandbox.ipynb` has the minimum explanation and 2.0-dev is still under active development. This random int assignment was not intended to initialize `label`. The original labels in the `train_pack` should work but we had a little problem debugging metrics, so I tried some random value to check if metrics are behaving correctly.

[2018-11-16 02:54] #476 closed

[2018-11-16 08:43] hkvision opened #478 "[Question] Pros and cons for various models"
As MatchZoo provides a lot of models, may I know what models you recommend for QA ranking problems? Or what models are popular among users so that I can choose a few to start with?
Thanks in advance!

[2018-11-16 10:35] cmacdonald commented on #476
Yes, your are right in that mz.pack doesnt affect the label, thanks!

[2018-11-16 12:48] uduse commented on #478
I usually go for DUET or DRMM-TKS.

[2018-11-19 01:40] hkvision commented on #478
OK. I will try them. Really thanks!

[2018-11-19 01:40] #478 closed

[2018-11-19 09:56] faneshion opened #479 "Implement DRMM_TKS"
Re-implement DRMM_TKS for MatchZoo 2.0. The DRMM_TKS is a light version of DRMM, in which the matching histogram layer is replaced with the sorted matching top-k layer.

[2018-11-20 11:04] MichaelStarkey opened #481 "Large datasets freeze and crash during DSSM preprocessing"
I am trying to replicate the wikiQA DSSM tutorial on a much larger dataset (100k queries, 1m answers). The preprocessing seems to freeze and crash during the text_right stage. This issue is occurring on both 2.0 and 2.0-dev Is this a memory issue?

I am using a google cloud instance with 32Gb RAM and 2 vCPUs. Current code below:
[code]
Output:
[code]

[2018-11-20 12:47] uduse commented on #481
Yes it is. `WordHashingUnit` eats up a lot of memory. On `2.0-dev` these's a `UnitDynamicDataGenerator` that can work around this problem by skipping the word hashing step in the preprocessing, initializing `UnitDynamicDataGenerator` with the `WordHashingUnit`, feeding the `UnitDynamicDataGenerator` with the datapack. This does forgo the ability to use `model.fit`, though, since you have to use `m

[2018-11-20 15:13] MichaelStarkey commented on #481
Im unsure how to proceed with the Dynamic Generator. Am I still required to use the DSSM preprocessor to go from the training data to triletters? It seems the `WordHashingUnit` is written in to the `DSSMPreprocessor.fit` method. I attempted the following code but it did not work, so I am missing something.

[code]

With output:
[code]

Additionally, I had to amend the `matchzoo/data_generator/__in

[2018-11-21 02:25] shaheenkdr opened #482 "Ideal model for ranking"
As MatchZoo provides a set of bleeding edge algorithms for ranking, I am wondering which would be the ideal one to choose for ranking from paragraphs. ie Assume for every query, say I have a 20 set of paragraphs which contains relevant information to the query, to generate ranks based out of these paragraphs, which method would produce superior accuracy & efficiency?

[2018-11-21 02:44] uduse commented on #481
@MichaelStarkey You have to create unit instances instead of using them as classes. Anyways, since  MatchZoo needs this feature sooner or later, I just implemented it for your early access. Check out (pun intended) the latest `2.0-dev` branch and see `sandbox.ipynb` for usage.

[2018-11-23 01:39] faneshion commented on #474
Sorry for the misleading information in the config file. Actually, In the WikiQA dataset, I have tested both 1-dimension idf and 300-dimension glove embedding in the term gating network. To be lazy, I have just renamed the glove embedding file as 'embed.idf'. I will fix this soon.

[2018-11-23 03:53] shaheenkdr commented on #482
@faneshion , which are the best interaction-focused models available in MatchZoo?

[2018-11-23 04:00] shaheenkdr commented on #482
Thanks @faneshion . That helped to clear my doubt and I am closing the issue !

[2018-11-23 04:00] #482 closed

[2018-11-24 02:08] ZhikuoChen commented on #474
Thank you very much for your answer!

[2018-11-24 02:09] ZhikuoChen commented on #474
Thank you very much for your answer!

[2018-11-28 16:07] nipunsadvilkar opened #484 "Using MRR (Mean Reciprocal Rank) as a metrics on WikiQA datatset"
First of all, Thanks for such a great repo. It's like a goldmine for people interested in deep text matching.

I'm interested in doing an experiment on WikiQA with MRR as an evaluation metrics. Can anyone guide me to illustrate how to use MRR for wikiQA dataset instead of MAP.

Though #306 provides this metric. I'm not able to integrate it with DRMM model.

Please help out. Thanks!

[2018-11-28 16:49] bwanglzu commented on #484
Hi @nipunsadvilkar , our MatchZoo 2.0 is still under development,  [this](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/sandbox.ipynb) page demonstrate the new API design, and it the MRR is implemented [here](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/matchzoo/metrics/mean_reciprocal_rank.py).

We're still working to ship these features, it will be available in the coming mo

[2018-11-29 11:42] gtsoukas opened #486 "Can MatchZoo beat Elasticsearch for Product Search"
I want to proof that goodness of product search (e.g. in terms of NDCG@10 metric) in a retail company can be significantly improved by the use of neural models such as the duet architecture. Currently  Elasticsearch/Solr is used for product search. From a theoretical perspective neural model should be superior since they are a) better able to capture multidimensional meaning via distributed repres

[2018-11-29 11:58] faneshion commented on #486
To run MatchZoo, you can prepare the datasets as [this sample file](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/matchzoo/datasets/toy/train_rank.txt). Then, you can follow this [tutorial](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/notebooks/tutorial.ipynb) to run the code. Since we are working on the 2.0 version of matchzoo, there may be some bugs. Hope you can give us mor

[2018-11-29 13:19] zenogantner opened #487 "add non-neural baselines like BM25 and TF-IDF"
It would be interesting to have those simple baseline available as well ...

[2018-11-30 23:00] jinwangjoshua opened #490 "any plan to release 1.0"
Hi, any plan to release 1.0 on pypi

[2018-12-01 20:35] bwanglzu commented on #490
hi @jinwangjoshua we  will have a meeting in the coming week and get back to you :)

[2018-12-02 01:44] #474 closed

[2018-12-02 02:05] #372 closed

[2018-12-02 02:10] #40 closed

[2018-12-04 07:18] faneshion commented on #490
Hi @jinwangjoshua , we will directly release the 2.0 version soon later and skip the 1.0 version.

[2018-12-04 19:01] MichaelStarkey opened #493 "DSSM returning NaN for loss when used with tensorflow-gpu backend."
I have been running DSSM on quite a large dataset and was looking at tensorflow-gpu to speed up the training. However the returning loss and mae are always NaN for both the train and evaluation phase. I have tried a very basic tensorflow model from their tutorials and it works fine.

Im not really sure where to start debugging with this, any help would be greatly appreciated.

The model works fine

[2018-12-04 20:31] gtsoukas commented on #486
What version of MatchZoo and what version of python should i use to reproduce the above tutorial? I am having trouble with very basic stuff e.g. ```from matchzoo import preprocessor``` -> ```ImportError: cannot import name preprocessor```.

[2018-12-05 09:33] faneshion commented on #493
Until now, we have not tested the 2.0 version under the GPU environment. We will test it as soon as possible. If you have any progress, please inform us. Thanks.

[2018-12-05 10:41] uduse commented on #493
Are you having the same problem when doing the same thing on a CPU?

[2018-12-05 11:12] faneshion commented on #493
Hi, @MichaelStarkey. I have just tested the 2.0 version with GPU environment, and it works fine. Can you give more information about your error?

[2018-12-05 11:18] faneshion commented on #486
Recently, we have refactored some code. The [sandbox](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/sandbox.ipynb) is more stable than the tutorial.

[2018-12-05 14:44] bwanglzu commented on #493
I guess this is an optimization issue, use another loss fucntion.

[2018-12-05 14:49] bwanglzu commented on #486
currently matchzoo 2.0 only support python 3.6, 3.x will be supported in the future. We'll not support python 2.x.

[2018-12-05 15:32] MichaelStarkey commented on #493
It does seem to be an issue with the loss function, as using the hinge losses from keras works ok. MSE and MAE are pretty standard losses however, what would be causing them to not work on the GPU? This is still using DSSM as it comes in MatchZoo.

[2018-12-05 15:35] bwanglzu commented on #493
@MichaelStarkey can you try to change the kernel to `tanh` ? [reference](https://github.com/keras-team/keras/issues/1244)

[2018-12-05 15:52] MichaelStarkey commented on #493
@bwanglzu
I think the DSSM model in MatchZoo is using that already.
[code]
[code]

Is the activation function what you are referencing?

[2018-12-05 16:04] bwanglzu commented on #493
@MichaelStarkey are u using the 2.0-dev branch?

[2018-12-05 16:06] MichaelStarkey commented on #493
@bwanglzu I was until I encountered this problem, then switched to 2.0. I had the same problem on both.

[2018-12-05 16:08] bwanglzu commented on #493
@MichaelStarkey please use 2.0-dev, can you upload the notebook to somewhere? Let me take a look.

[2018-12-05 16:19] bwanglzu commented on #493
if you're reading [this tutorial](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/notebooks/tutorial.ipynb), please check one thing: your data does not cotains nan values.

after preprocessing:

[code]
Please check:
[code]
This might be a reason for the issue.  Possible reasons:

scale you data differently, f.e. try these ranges [0,1] or [-1,1],
Also, in my case the learning rate parameter

[2018-12-05 16:48] MichaelStarkey commented on #493
Thanks for your help so far, im pretty sure having NaNs in the dataset is not the issue as the model can train completely on the CPU. I uploaded an mvp to my github [here](https://github.com/MichaelStarkey/MatchZooExperiment/).

[2018-12-05 17:48] bwanglzu commented on #493
@faneshion @uduse @pl8787  can you take a look at this issue? I need to pack my stuff tonight and fly to China tomorrow.

[2018-12-06 06:00] uduse commented on #493
Let's rule out other possible factors first:
- make sure it's not tensorflow version problem by matching your tensorflow version number vs tensorflow-gpu version number
- try converting Y to float numbers, I read your code and it seems they are integers

[2018-12-06 14:12] MichaelStarkey commented on #493
The tensorflow and tensorflow-gpu are both on the same version (1.12.0). I also changed the labels to be floats but that unfortunately had no effect.

[2018-12-07 06:48] jackalhan opened #495 "Reproduction Non-Stability on Loss Value"
Hi all,

Although tf, random and numpy seeds are set to some specific number (such as 49999), I could not get the same loss value for the same iteration index when I run the application 2 times for the DRMM - WikiQA ranking.

Would you please enlighten me how to get the same loss calculation on the same index/iteration for multiple times?

Thank you

[2018-12-07 08:53] bwanglzu commented on #495
Hi @jackalhan are you using 1.0 or experimenting with 2.0?

[2018-12-07 16:33] uduse commented on #493
Hm... I don't have a GPU so all suggestions I could give is to rule out factors one by one. If you can reproduce the problem on a sharable GPU, like using a Google Colab, then I might investigate deeper.

[2018-12-08 20:12] jackalhan commented on #495
I am experimenting with 2.0

[2018-12-09 11:58] MichaelStarkey commented on #493
After some experimentation it looks the like problem was entirely caused by the data generator I had made. Sorry for bother and thanks.

[2018-12-09 11:58] #493 closed

[2018-12-09 17:25] shaheenkdr opened #498 "setting embed file value in config file"
In the config file for wikiqa, it's set `"embed_size": 300` , As per the documentation, it says  "embed_size": word embedding size.  Can you please elaborate what exactly this value is ?

[2018-12-10 08:38] #490 closed

[2018-12-10 08:42] uduse commented on #487
So far we have only neural ones. While adding non neural ones is possible, it requires some infrastructural change and won't be implemented soon.

[2018-12-10 08:42] #487 closed

[2018-12-10 08:43] #473 closed

[2018-12-10 08:43] #466 closed

[2018-12-10 08:44] uduse commented on #450
Closed due to inactivity.

[2018-12-10 08:44] #450 closed

[2018-12-10 08:44] uduse commented on #458
Closed due to inactivity.

[2018-12-10 08:44] #458 closed

[2018-12-10 08:45] uduse commented on #398
Closed due to inactivity.

[2018-12-10 08:45] #398 closed

[2018-12-10 08:46] uduse commented on #370
Closed due to inactivity.

[2018-12-10 08:46] #370 closed

[2018-12-10 08:47] #287 closed

[2018-12-10 08:48] uduse commented on #273
Closed due to inactivity.

[2018-12-10 08:48] #273 closed

[2018-12-10 08:49] uduse commented on #250
Closed due to inactivity.

[2018-12-10 08:49] #250 closed

[2018-12-10 08:50] uduse commented on #444
2.0 now supports dynamic data preprocessing.

[2018-12-10 08:50] #444 closed

[2018-12-10 08:50] uduse commented on #424
Closed due to inactivity.

[2018-12-10 08:50] #424 closed

[2018-12-10 08:51] uduse commented on #154
Closed due to inactivity.

[2018-12-10 08:51] #154 closed

[2018-12-10 08:56] uduse commented on #394
I agree that `list` and `np.ndarray` should be consistent.

[2018-12-10 09:07] #445 closed

[2018-12-10 09:41] faneshion commented on #498
As the model uses [word embeddings](https://en.wikipedia.org/wiki/Word_embedding) as inputs. The `embed_size` denotes the dimension of each word vector.

[2018-12-10 09:42] #486 closed

[2018-12-10 09:56] shaheenkdr commented on #498
@faneshion Does this vary with respect to different datasets, if so how do I find the `embed_size` for my specific data set?

[2018-12-10 16:02] faneshion commented on #498
The `embed_size` is a hyper-parameter, which likes the other hyper-parameters (e.g., the number of layers, the hidden size in each layer, etc.). The only way to find the best value is to experiment enough times to check the performance. Basically, you can try the values in `[50, 100, 300, 500, 1000]`, depending on the size of your training dataset.

[2018-12-11 00:47] shaheenkdr commented on #498
@faneshion Thanks, apart from that what all other hyper-parameters can I optimise which could possibly improve the results substantially over a larger dataset ?

[2018-12-11 05:00] shaheenkdr opened #501 "DRMM producing incorrect predictions"

[2018-12-11 05:20] #501 closed

[2018-12-11 09:13] #498 closed

[2018-12-11 09:21] shaheenkdr opened #502 "How to optimize hyper-parameters?"
If the dataset size grows considerably, say if I were to rank for a larger dataset, with a `200,000` `vocab_size` , how should I approach to optimise the hyper parameters? For `Match Pyramid` as well as for `DRMM_TKS` , would the default `iteration=400`, `learning_rate=1.0` and default `adadelta` optimiser suffice to provide a solid result?  Thoughts on this ?

[2018-12-11 15:49] uduse commented on #502
We have auto hyper-parameter tuning in 2.0, which will be released this month. Stay tuned (pun intended).

[2018-12-12 00:04] #502 closed

[2018-12-12 10:34] avoidthevoid commented on #399
Hi!

I was still wondering, about one thing: how does MatchZoo select which (best) weights to use in the final prediction? Is this based on the performance of the model (using those weights) on the dev set as calculated by (a mean? of) the metrics as configured in the config file (e.g. MAP, NDCG@3)?

Thanks in advance!

[2018-12-13 03:29] shaheenkdr opened #503 "Configuring optimizer"
How to configure Adam optimiser ? If I need to specifically set an `epsilon` value, how do I achieve it in `MatchZoo 1.0`

[2018-12-13 17:47] #454 closed

[2018-12-13 21:01] MichaelStarkey opened #505 "No CDSSM preprocessor?"
### Describe the Question
I am wanting to experiment with the CDSSM model, but there doesn't seem to be a CDSSM preprocessor despite one being shown in the wikiQA tutorial notebook. I am not entirely sure what kind of input this model needs.
This is in MatchZoo 2.0.

[2018-12-14 03:59] uduse commented on #505
CDSSM is not ready yet.

[2018-12-14 03:59] #505 closed

[2018-12-14 03:59] #503 closed

[2018-12-14 04:09] uduse commented on #368
Closed due to inactivity.

[2018-12-14 04:09] #368 closed

[2018-12-14 04:10] uduse commented on #484
Closed due to inactivity.

[2018-12-14 04:10] #484 closed

[2018-12-14 04:11] uduse commented on #78
Closed due to inactivity.

[2018-12-14 04:12] #78 closed

[2018-12-14 04:13] uduse commented on #333
Closed due to inactivity.

[2018-12-14 04:13] #333 closed

[2018-12-14 12:39] faneshion commented on #495
@jackalhan do you use the default configuration file as in [wikiqa](https://github.com/NTMC-Community/MatchZoo/tree/master/examples/wikiqa/config)?

[2018-12-14 13:38] gtsoukas opened #507 "How much training data is required for a good model?"
What is the required minimum number of unique *left texts* to train a good model?

Should each unique *left text* occur only once in the training samples or can it occur multiple times as *text left*?

I am generally struggling to produce a good model i.e. one with a high NDCG@k. I was following the [sandbox](https://github.com/NTMC-Community/MatchZoo/blob/2.0-dev/sandbox.ipynb) tutorial and fille

[2018-12-15 04:04] faneshion commented on #507
For your first question, there is no standard number of instances to train a good model. Many factors could impact the performance of a model. You can tune the parameters as much as possible, to find out the better model. For the second question, both `left` and `right` are the indexes from the `id` to `feature/text`, thus, it should occur only once. In the `relation`, they can appear multiple tim

[2018-12-15 22:18] yangliuy opened #512 "Implement aNMM model in MatchZoo 2.0"
This issue is for the implementation of aNMM model in MatchZoo 2.0

[2018-12-15 23:08] yangliuy commented on #512
PR 513

[2018-12-19 04:01] jackalhan commented on #495
Yes

[2018-12-19 06:06] Gpwner opened #517 "MatchZoo支持无监督的TextMatching吗？"

[2018-12-19 11:12] #517 closed

[2018-12-21 15:39] bwanglzu commented on #517
@Gpwner Hi, seems the majority of the papers are training neural models using a supervised fashion, checkout the [list of papers](https://github.com/NTMC-Community/awaresome-neural-models-for-semantic-match).

[2018-12-24 06:33] #512 closed

[2018-12-27 01:32] ZizhenWang opened #526 "refactor WordHashingUnit"
Current `WordHashingUnit` computes the sentence hashing result directly to support `DSSM` model, but can't handle `C-DSSM` and `LSTM-DSSM` models which require representation for each word. The new version will return a list of word representation to support `C-DSSM` and `LSTM-DSSM`, and for `DSSM`, we implement a new fn named `SumWordRepresentation` to get the sentence encode result.

[2018-12-27 07:29] ZizhenWang opened #528 "implement cdssm model to fit current vision"
the cdssm model need update to fit current frame, we should implement `CDSSM preprocessor` and update `CDSSM model`.
this issue rely on #527

[2018-12-27 12:07] #526 closed

[2018-12-29 05:15] #528 closed

[2018-12-29 06:21] ZizhenWang opened #530 "expand cdssm preprocessor to support different length of query and doc"

[2019-01-03 03:31] #507 closed

[2019-01-04 08:53] #471 closed

[2019-01-04 14:39] #530 closed

[2019-01-04 14:39] ZizhenWang opened #543 "fix word hashing bug"
word hashing bug for dssm model

[2019-01-05 14:08] #543 closed

[2019-01-08 09:25] KoreaLee opened #555 "How to get word embedding vector from saved weights?"
I think this question is related in https://github.com/NTMC-Community/MatchZoo/issues/101
when I use pre-trained embed in training.
How to get word embedding vector from saved weights?
I want to check difference between pre-trained word embedding (glove) and trained embedding vector and then evaluate embedding vectors using tensorboard.

[2019-01-10 01:32] faneshion commented on #555
As MatchZoo use keras as backend. The word embedding is also the weight matrix in the word embedding layer. Thus, you can directly dump the weight matrix of the embedding layer. As for how to dump, you can refer to [this page](https://github.com/keras-team/keras/issues/91).

[2019-01-10 01:32] #469 closed

[2019-01-10 01:32] #435 closed

[2019-01-11 03:52] HudsonHuang opened #562 "Anybody"
### Describe the Question
Please provide a clear and concise description of what the question is.

### Describe your attempts
- [ ] I walked through the tutorials
- [ ] I checked the documentation
- [ ] I checked to make sure that this is not a duplicate question

You may also provide a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) you tried as a workaround, or S

[2019-01-11 03:53] #562 closed

[2019-01-11 15:02] #436 closed

[2019-01-11 15:04] #351 closed

[2019-01-11 15:05] #224 closed

[2019-01-11 15:19] bwanglzu opened #566 "python 3 version poll"
Support pytohn 3.x, currently only 3,6 +

[2019-01-11 16:32] uduse opened #567 "Refactor unit tests."

[2019-01-11 16:35] uduse opened #568 "Add auto.Tuner tests."

[2019-01-12 06:24] DaoD opened #573 "fstring not supported in python 3.5"
### Describe the bug
Traceback (most recent call last):
  File "/MRSwithOutline/MatchZooModels.py", line 2, in <module>
    import matchzoo as mz
  File "/py3.5/lib/python3.5/site-packages/MatchZoo-2.0.0-py3.5.egg/matchzoo/__init__.py", line 18, in <module>
    from .data_pack import DataPack
  File "/py3.5/lib/python3.5/site-packages/MatchZoo-2.0.0-py3.5.egg/matchzoo/data_pack/__init__.py", line

[2019-01-12 06:25] wqh17101 opened #574 "improve homepage"
We need a Preview page  to show to introduce our package
a Team page to show our team
a Coming Soon page to show something we will do in the future
some community links to the media or group such as Weibo wechat group ，facebook ，zhihu and so on
maybe a sponsoring link to QRcode for wechat, AliPay, or paypal and so on

[2019-01-12 06:40] uduse commented on #573
@DaoD Yes. 3.6+ only for now. https://github.com/NTMC-Community/MatchZoo/issues/566 thumbs up here if you really want to use it on 3.5.

[2019-01-12 07:01] uduse opened #575 "House Keeping"
- [x] update readme with papers, and information in slides
- [x] update tutorials @uduse
- [x] merge wiki qa notebooks @uduse
- [x] update CONTRIBUTING.md @bwanglzu
- [x] fill missing type hints @faneshion
- [x] update readme for better readability (show the docs!)
- [x] add python 3.7 & osx to continuous integration @bwanglzu
- [x] remove `many_stop_words` from `docs/requirements.txt` @bwanglzu

[2019-01-13 01:39] faneshion commented on #574
Team page is no neccessary as the team information are listed in the `Readme.MD`.

[2019-01-13 06:07] DaoD commented on #573
@uduse can u provide a tutorial for classification task? it's hard to understand how to use load_data function

[2019-01-13 06:18] DaoD commented on #573
when apply the model in classification problem:
https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/data_generator/pair_data_generator.py#L90
when one text_left has only one sample, then the number of labels is 1. Thus the pair is []. Then the new_relation cause an error.

[2019-01-13 08:00] uduse commented on #573
@DaoD We are working on classification tutorials and they will be released in 2 weeks. `load_data` of classification task is tricky since it returns a tuple of `(data_pack, classes)`. In terms of the pair generator, @faneshion .

[2019-01-13 08:08] DaoD commented on #573
@uduse it's really confusing.
If I use one_hot_encode_label, then the label would be in onehot format, and the function DPoolPairDataGenerator can not be used because there is a sort function in it.
If I do not use one_hot_encode_label, the model can not be used because the final dense layer is set as 2.

[2019-01-13 12:50] uduse commented on #573
@pl8787

[2019-01-14 04:10] DaoD commented on #555
so the weight matrix is not accessible in the version 2.0?

[2019-01-14 04:23] DaoD opened #581 "How to pretrain a model and fine tune it?"
### Describe the Question
How to pretrain a model and fine tune it?
I have pretrained a model on a pretrain dataset and I want to fine tune it on the other dataset. However, the data are different and the vocabulary dictionary is also different. So I need to change the input_shape in the fine tune model. But all the other parameters can be loaded from the pretrain model. How do I achieve this?
I f

[2019-01-14 06:31] ZizhenWang commented on #581
I think to fine-tune a pre-trained model, keep the vocabulary and input shape (e.g. text length) same is necessary, you can use MatchZoo's pre-processor to make them consistent. MatchZoo save models as Keras format, so you can use Keras' utils to process saved model, means `get/set_weights` is feasible.

[2019-01-14 06:47] DaoD commented on #581
@ZizhenWang I don't use the same vocabulary in the fine tune stage. I only need to restore all paramaters except the embeddings. But I find it is hard to implement.
Besides, I have already tried get_weights and set_weights function, and it reports that these two methods are not implemented in the Matchzoo model.

[2019-01-14 07:35] #581 closed

[2019-01-14 07:35] #573 closed

[2019-01-14 10:19] uduse commented on #581
Yep. `model.backend` gives you the keras model.

[2019-01-14 10:21] #555 closed

[2019-01-14 16:18] bwanglzu commented on #568
每次看见这个issue总能想到kris wu..忍不住想笑..

[2019-01-15 10:22] bwanglzu opened #583 "pypi failed to load logo"
1. use absolute uri in readme. (pypi is reading `long description` based on readme.md).
2. add pypi badge to readme.

[2019-01-15 13:05] #583 closed

[2019-01-16 05:22] DaoD commented on #399
@avoidthevoid Hi, I think the model doesn't select weights automatically. You need to save the weights manually and compare the loss on the dev set to choose which model to use.
In keras, you can use the checkpoint to save the model in a fixed period.

Fro example:
callback = ModelCheckpoint(filepath, monitor='val_loss', verbose=0, save_best_only=True, save_weights_only=True, mode='auto', period=1

[2019-01-16 05:46] DaoD commented on #440
@uduse hi there, I find the PointGenerator (data generator) is removed in the version 2.0. But it is useful for the classification task. I find the PairGenerator is not good for training a classification model.

[2019-01-16 05:50] uduse commented on #440
@DaoD `DataGenerator` is what you need.

[2019-01-16 06:07] DaoD commented on #440
@uduse ok, thanks. Im using DynamicDataGenerator and set the func as lambda x: x.   XDDDDD

[2019-01-22 07:04] pushpankar commented on #444
Why can't I find point data generator

[2019-01-22 09:00] uduse commented on #444
@pushpankar It's `DataGenerator` in `2.0`.

[2019-01-22 09:21] uduse commented on #481
`DSSM` and `CDSSM` now have the `with_word_hashing` argument.

[2019-01-23 01:23] bifeng opened #595 "The validation metrics score (in training step) is not identical to the evaluate function scores?"
I am running the tutorials of wikiqa matchpyramid.ipynb,  and the final metrics score in validation is:

But, i calculate the metrics score using the same validation with:
`model.evaluate(pred_x, pred_y)`

I get the scores:

Why is so much difference between each other? Is that correct?

[2019-01-23 07:42] uduse commented on #595
`EvaluateAllMetrics` calls the model's `evaluate`. Make sure you're passing the same data and make sure you don't change the data. If the problem persists, please provide a Minimal, Complete, and Verifiable example.

[2019-01-23 09:44] bifeng commented on #595
Yes, i am running two times (running with the whole script, so there is no chance for change the data),  this problem is still exist.

[2019-01-23 10:34] sth4k opened #596 "CLSM implementation"
Hi I have looked at the CDSSM model implementation, and i think it's different from the CLSM (which uses word-3-gram). Do you have implementation for CLSM? or is there no much big differences between the CDSSM and CLSM performance?

[2019-01-23 10:40] bwanglzu commented on #596
there is some difference, but cdssm = clsm (Convolutional latent semantic model)
The current CDSSM uses word-hashing with 3 contextual windows.

[2019-01-23 10:47] bwanglzu commented on #596
if you read the code, you'll find the difference is primary on the parameters, such as `relu` -> `tanh`, `sgd` -> `adaleta`, `dropout` -> no dropout in the original paper etc..

But all these parameters are tunable, you can just change the parameters, for example:

[code]

to keep the model the same as the original implementation.

[2019-01-23 10:56] bwanglzu commented on #595
@bifeng did you trained a new model?

[2019-01-23 12:16] uduse commented on #595
![image](https://user-images.githubusercontent.com/4717005/51605899-51639600-1f4b-11e9-9586-87ee811108df.png)
This is what I got. I got an error if I don't set `batch_size`.

[2019-01-24 03:17] bifeng commented on #595
Thanks very much! I didn't get error, but if i set batch_size, the score is correct. So, previous result is just using the default batch_size(128). Thanks, It's my carelessness.

[2019-01-24 05:54] #595 closed

[2019-01-24 08:22] sth4k commented on #596
Is the model.params['kernel_size'] doing the word-3-gram (also the 3 contextual windows you meantioned) in the CDSSM paper?

[2019-01-24 08:39] sth4k commented on #596
Okay that clarifies my confusion. Thanks @bwanglzu and @ZizhenWang

[2019-01-24 08:40] #596 closed

[2019-01-24 09:51] uduse commented on #568
@bwanglzu 2.0 没有 autotune 直接发

[2019-01-26 00:58] Saflanon opened #597 "Hey, How could I do the prediction phase in the python3.6 version of matchzoo? Thanks"
Hey, I could use the prediction phase to do prediction for the test set in the python 2.7 version of matchzoo. Now I'm a little confused about how to save the model and do prediction in this new version in python3.6. Could anyone help me with this? Thanks:)

[2019-01-26 09:08] StKlaas opened #598 "The computation on NDCG may be wrong"
The original definition of NDCG is to take all the relevant documents in the **corpus** but not in your **prediction** into account when computing IDCG. However, in your implementation, NDCG is computed base on the predicted score and their ground truth. e.g., for a predicted score list y_pred = [0.4, 0.2, 0.5, 0.7] and the corresponding ground-truth y_true = [0, 1, 2, 0], you would treat the gold

[2019-01-26 12:59] uduse commented on #598
Thanks for reporting this. Definitely worth attention.

[2019-01-28 12:46] #566 closed

[2019-01-29 14:09] bwanglzu commented on #598
@StKlaas Can you review #599 ?

[2019-01-30 02:47] Punchwes opened #600 "Embedding dimension not match?"
The loading embedding matrix process in the DRMM tutorial seems to have problem. The embedding input dimension is set to be the vocabulary size (which is the length of term_index), but the result of your `build_matrix` function gives incompatible input dimension which raises error when calling the `load_embedding_matrix` function.

Is there anything wrong with it? I try to make some modifications

[2019-01-30 02:49] Punchwes opened #601 "Embedding dimension not match?"
The loading embedding matrix process in the DRMM tutorial seems to have problem. The embedding input dimension is set to be the vocabulary size (which is the length of term_index), but the result of your `build_matrix` function gives incompatible input dimension which raises error when calling the `load_embedding_matrix` function.

Is there anything wrong with it? I try to make some modifications

[2019-01-30 02:50] Punchwes commented on #600
Embedding dimension not match?

The loading embedding matrix process in the DRMM tutorial seems to have problem. The embedding input dimension is set to be the vocabulary size (which is the length of term_index), but the result of your build_matrix function gives incompatible input dimension which raises error when calling the load_embedding_matrix function.

Is there anything wrong with it? I try

[2019-01-30 02:50] #600 closed

[2019-01-30 05:49] uduse commented on #601
![image](https://user-images.githubusercontent.com/4717005/51960651-d2afb100-2494-11e9-96bc-1ae6552871eb.png)
Could you see these issue templates when you create this issue? There isn't enough information in your question and it's hard for us to help you (and the issue templates were designed to solve this problem). If you think the issue templates are too verbose, we could make some changes. Afte

[2019-01-30 08:20] faneshion commented on #598
@StKlaas you are right for the re-ranking when the candidate list is produced by another algorithm. We will fix this. Thanks for your warning!

[2019-01-30 09:00] StKlaas commented on #598
@bwanglzu The revised code for dcg is so confusing.
@faneshion yep, when your algorithm cannot recall all the relevant items, that would inevitably hurt the model evaluation, especially in IR. Thanks for your attention again.

[2019-01-30 16:37] dzhao123 opened #602 "About word_dict"
### Describe the Question
Hi there. I just want to know if the working pipeline will save a word dictionary file? Or the word dict is made on the fly.

### Describe your attempts
I read the document and code and it seems the word dict is made on the fly. Can I produce a word dict with matchzoo 2.0 and use it every time when I run the same data? By the way, is there a parameter to limit the word fr

[2019-01-31 03:16] uduse commented on #602
Once you fit a preprocessor:
- `preprocessor.context['vocab_unit']` gives you the vocab unit
- `preprocessor.context['vocab_unit'].state['term_index']` gives you the term -> index mapping
- `preprocessor.context['vocab_unit'].state['index_term']` gives you the index -> term mapping

In terms of the frequency, a vocab can't directly filter word frequencies, instead, you may transform with `Frequenc

[2019-01-31 09:19] Punchwes commented on #601
Hi,

I am running the provided DRMM tutorial, and stuck at loading embedding matrix. The load_embedding_matrix function gives me the error:
<img width="1091" alt="2019-01-31 17 04 36" src="https://user-images.githubusercontent.com/19360686/52043352-70c97700-257a-11e9-903e-cd43b9020b9a.png">

`len(term_index) + 1` gives me 16674 while `preprocessor.context['vocab_size']` gives 16673.

I did not cha

[2019-01-31 10:55] robertwt7 opened #604 "DRMM model map score low on ROB04 collection"
Hi there

I'm doing research on information retrieval and am very interested with your work.

I tried to do a reranking task on the Robust04 collection with the default drmm config that i copied from wikiqa (tweaked the vocab size according to the embed.idf vocab count). I did 5 fold cross validation and got the map score of 0.2412166 which is lower than our bm25 score (0.255 after some parameter

[2019-01-31 14:07] uduse commented on #601
![image](https://user-images.githubusercontent.com/4717005/52059213-2eb52b00-25a4-11e9-8c95-b7cc3480e325.png)
Change this to vocab size + 1.

The tutorial was made before the vocab size bug in preprocessors was fixed. That's why.

[2019-01-31 14:19] uduse commented on #604
I believe you're using matchzoo 1.0. It's no longer supported, but @faneshion might be able to help you. In 2.0, use histogram data generator and pass the mode. In 2.1, use data generator with a histogram callback that initialized with the mode.

[2019-01-31 14:51] dzhao123 commented on #602
Thanks @uduse, oen more question. Is there a OOV design in matchoo 2.0? Is there a way to feed word embedding into model rather than input text into the model?

[2019-01-31 15:05] uduse commented on #602
@dzhao123 Kinda. Please read the source of TermIndex and IndexTerm, see if those satisfy your needs. Models by default use texts, but as long as the input shapes and names match that of a processed data_pack.unpack(), it's fine.

[2019-01-31 16:33] #568 closed

[2019-01-31 16:33] #567 closed

[2019-01-31 22:11] dzhao123 opened #605 "Keras takes long time to compile"
### Is your feature request related to a problem? Please describe.
Hi below is the model summary, it takes a long time to compile, is there any way to solve it?

`

[code]

`

[2019-01-31 22:34] robertwt7 commented on #604
Yes i'm using matchzoo 1.0 because i preprocessed all of the data previously using the 1st version and i haven't got a chance to play with the new version.. does the histogram data generator use LCH method by default in matchzoo 2?

Thanks for replying, appreciate it

[2019-02-01 02:12] uduse commented on #605
Please be specific. What model? How long? Did you monitor your memory and CPU usage? What's your hardware specs? What's the code you've written? What about just using keras but not matchzoo? What have you tried to solve the problem? e.t.c. Like I said in your last post, it is hard for us to help you if you do not provide enough information on your end.

[2019-02-01 02:17] uduse commented on #604
2.0 is much more flexible than 1.0 so I highly suggest you to give it a try. No, it do not use LCH by default. However, the 2.0 tutorial of the model on wikiqa uses LCH so all you need to do is to understand how to load your data in 2.0, and just follow everything else on the tutorial.

[2019-02-02 07:10] jifei opened #611 "The data format of train,val,test for dssm"
Old version README.md mentioned Word Dictionary,Corpus File and Relation File. Now don‘t need them？
I want to use dssm to do Information Retrieval.Which files are needed，and what are about the data format of them. Where'is the example,just the same as the QA tutorials or still in the plan?

[2019-02-02 08:55] uduse commented on #611
MatchZoo 2 does not create files for these purposes. Instead, MatchZoo 2 loads the data into a `DataPack` in memory, and go from there. Pleas read the documentation of `matchzoo.pack`, or follow [this](https://github.com/NTMC-Community/MatchZoo/blob/master/tutorials/data_handling.ipynb) tutorial for creating your own datapack.

[2019-02-02 09:45] jifei commented on #611
I got it,ths!

[2019-02-02 11:33] #611 closed

[2019-02-02 18:17] faneshion commented on #604
@robertwt7 Sorry for late responses as I am traveling these days. On Rob04 dataset, you need to deal with the data imbalance problem since the pairs for each query is significantly different (i.e., in the pair-wise case as is used in DRMM ), e.g., some query have thousands of pairs while some queries have tens of pairs. In this way, the model could be dominated by some specific query. Thus I have

[2019-02-03 16:09] dzhao123 commented on #605
[code]

[2019-02-04 01:31] robertwt7 commented on #604
actually I was using queries and documents that was retrieved by BM25 so each of the queries has 1000 documents for 250 queries. There are however some documents that is not available in the qrels so i marked them as 0 (irrelevant). I was using LCH (by default) with IDF as well though. Currently re running with your setup of 30 nodes input histogram and 2 hidden layer of 5 node and 1 node respecti

[2019-02-04 03:06] uduse commented on #605
So you're having a different problem now? If you want to try a smaller sample, always use `data_pack[:num_samples]` to create a subset of the entire data pack. Also, there's a recent bug fix #614, maybe this is related? It is also helpful to do a `print(model.params)` so we know how the model is built.

[2019-02-04 22:33] robertwt7 commented on #604
Thanks for the reply! Appreciate it.

No worries, i'll try to use negative sampling on the documents later... However when i'm referring to the paper, you said that you were using 30 hist size with 2 hidden layer of 5 and 1 node each respectively right?

I'm currently trying to run based on the experiment setup on the paper and I'll try to get back with the map score after

[2019-02-05 12:31] dzhao123 commented on #605
@uduse Thanks for reply. I am trying to use matchzoo as a tool for my research, but currently is seems like a toy. I was trying to say that if take keras as a high level tf.estimator, it should combine with tf.data to maximize its power. Besides tensorlayer is a really good high level software on tensorflow, which has its own data processing pipelines, intergrating much better with tensorflow, bea

[2019-02-05 13:37] uduse commented on #605
MatchZoo 1 models were developed in keras so MatchZoo 2 models use keras as well for an easier transition. MatchZoo's data processing pipeline wraps over pandas, which is also a top choice for data processing, and I do not see much advantage using tensorlayer instead. I agree that some part of the project is like a toy: the real meaning of MatchZoo's existence are models, metrics, and losses (thes

[2019-02-05 14:32] dzhao123 commented on #605
@uduse Thanks for your help.

[2019-02-06 04:04] #605 closed

[2019-02-06 04:09] uduse commented on #602
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-02-06 04:09] #602 closed

[2019-02-06 04:10] uduse commented on #601
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-02-06 04:14] uduse commented on #371
I am closing this issue because MatchZoo 1 is no longer supported. Please try MatchZoo 2 instead. You may reopen it for further discussion, but a prompt answer is not guaranteed.

[2019-02-06 04:14] #371 closed

[2019-02-06 04:15] uduse commented on #394
Thanks for reporting. I fixed this by changing all of them to `list`.

[2019-02-06 04:16] #394 closed

[2019-02-06 04:17] uduse commented on #335
You may create a tensorboard callback and pass it to `fit` like in keras. Please consult keras documentation for further details.

[2019-02-06 04:17] #335 closed

[2019-02-11 02:17] Punchwes commented on #601
thanks very much, it solves the problem.

[2019-02-11 10:03] chenmengdx opened #615 "Evaluation error in Matchpyramid tutorial"
I'm trying to run the tutorial code of Matchpyramid, however, I encountered an error in the last step, when running:

model.evaluate(pred_x, pred_y, batch_size=5)

it says:

~/software/anaconda2/envs/matchzoo/lib/python3.6/site-packages/tensorflow/python/framework/errors_impl.py in __exit__(self, type_arg, value_arg, traceback_arg)
    526             None, None,
    527             compat.as_text

[2019-02-11 11:25] uduse commented on #615
This is a known bug and @pl8787 is working on it. This occurs only when the `batch_size` is too small, and setting it to `len(pred_y)` is a workaround.

[2019-02-12 04:03] gothion opened #619 "关于tutorial 里面的问题"
为什么DSSMModel的ap 和ndcg 的曲线形状那么奇怪？

[2019-02-12 08:24] bwanglzu commented on #619
1. which tutorial?
2. how do you define "奇怪"？

[2019-02-12 14:36] uduse commented on #619
Please provide at least a screenshot.

[2019-02-13 10:33] robertwt7 opened #622 "No module in matchzoo"
I tried to install matchzoo 2 with pip and python setup.py straightaway

However when i tried to use it in jupyter notebook as the tutorial i can't seem to find any package in it

`AttributeError: module 'matchzoo' has no attribute 'datasets'`

I'm using the base environment in conda using pythong 3.6

Here's the location of my matchzoo:
`<module 'matchzoo' from '/home/sh1/S3713561/anaconda3/lib/p

[2019-02-13 11:02] bwanglzu commented on #622
@robertwt7

1. ensure you installed matchzoo under python3 environment (pip3 install matchzoo if you have not set alias).
2. Ensure you're using the  python3 kernel of jupyter noteboook.

[2019-02-13 14:26] uduse commented on #622
![image](https://user-images.githubusercontent.com/4717005/52718413-61b4e100-2fde-11e9-9c1c-4c2cc430d909.png)

Yep. Seems you have the old version. See the `0.2.0` there?

[2019-02-14 00:36] robertwt7 commented on #622
Oh yea I thought that was the naming convention. I don't know how do I got to matchzoo 0.2.0

Maybe it was the previous playground with mz 1. Re-installed, working like charm now.

Thanks guys!

[2019-02-14 00:36] #622 closed

[2019-02-14 15:37] bwanglzu opened #623 "Pandas FutureWarning: read_table to read_csv"
![image](https://user-images.githubusercontent.com/9794489/52797736-c459bb80-3076-11e9-9d07-d375a31f14b2.png)

[2019-02-15 01:15] robertwt7 opened #625 "DataPack.frame() does not work with builded data"
I am planning to create my own data with my own ID on the left data as query and right data as documents so it'll be easier for me later to extract and match the data with qrels file without having different ID that is generated by **pack** method.

However when I generate my own data to DataPack, I can't seem to combine them with **Frame()** method.

For instance:

[code]

In this code i changed

[2019-02-15 06:04] uduse commented on #625
You're not setting `id_left` and `id_right` as indices.

Do this:
[code]

Also, `pack` generates ids only if you don't provide any. This means you can create a dataframe with `id_left` and `id_right` and feed it to `pack`, and `pack` will use those as ids instead of generating some.

[2019-02-15 13:07] #623 closed

[2019-02-15 23:51] robertwt7 commented on #625
oh okay, modified the code now. Didn't know that there is an attribute to set the index.

With the pack i figured that i have to do extra data processing to 1 data frame because queries and corpus file does not contain the same amount of row.

Anyway I did this:

[code]

still got this by the end

[code]

[2019-02-16 04:35] uduse commented on #625
Sorry I did not make it clear. You need `inplace=True` to really make a difference.

[2019-02-17 12:10] robertwt7 commented on #625
Oh okay, thanks so much. It's done now 👍

[2019-02-17 12:10] #625 closed

[2019-02-18 08:23] #604 closed

[2019-02-18 08:23] #601 closed

[2019-02-18 21:41] rajicon opened #628 "Loss Stuck at .1389"
I've been experimenting with multiple models for matching, and many of them seem to get stuck in a loss of .1389 for both the training set and validation set.  Some models always get stuck here, while others sometimes get stuck here.  I don't think this is a local minima, because it is the same value for both the training and validation, and the same across different models, which we would expect

[2019-02-19 10:34] bwanglzu commented on #628
hi @rajicon can you elaborate a little bit? Which dataset? which task?

Did you have the time to take a look at the [tutorials](https://github.com/NTMC-Community/MatchZoo/tree/master/tutorials/wikiqa)?

[2019-02-20 08:48] pl8787 commented on #615
It is already fixed now, please use the newest code.

[2019-02-20 09:17] robertwt7 opened #629 "Vocab Unit does not provide correct number of Vocab size"
I'm running Rob04 collection with the WikiQA tutorial from DRMM model.

Currently i'm stuck in loading the embedding matrix to my model where the **layer weight shape** is always short 1 then the **provided weight shape**.

Here's my current code and error:

[code]

When i was playing with Matchzoo1, I remember that i changed the vocab size according to the embed.idf that i got after i preprocess

[2019-02-21 05:08] uduse commented on #629
possibly a #601 duplicate?

[2019-02-21 09:51] ZizhenWang opened #630 "keras metrics should be averaged in `model.evaluate`"
current version compute keras metrics forget average

[2019-02-21 20:25] #630 closed

[2019-02-21 23:40] robertwt7 commented on #629
Oh yes! Sorry I tried to search from the issue but I didn't find it. It is indeed a duplicate.

Thanks for replying!

[2019-02-21 23:40] #629 closed

[2019-02-23 10:58] #619 closed

[2019-02-23 11:49] pl8787 opened #632 "StopIteration: cannot index with vector containing NA / NaN values"
### Describe the bug
A bug occur when using the code below:
[code]

The error output is below:
[code]

### To Reproduce
See above code.

### Describe your attempts
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this is not a duplicate issue

You should also provide code snippets you tried as a workaround, StackOverflow solution that you have walked through,

[2019-02-23 15:00] shizhouxing opened #633 "Error running matchpyramid"
### Describe the bug

When I ran the tutorial code https://github.com/NTMC-Community/MatchZoo/blob/master/tutorials/wikiqa/matchpyramid.ipynb, I got the following error:

[code]

And I have modified `model.params['embedding_input_dim'] = preprocessor.context['vocab_size']` into `model.params['embedding_input_dim'] = preprocessor.context['vocab_size'] + 1`. Otherwise, error happens at `model.load_e

[2019-02-24 05:58] uduse commented on #633
A duplicate of #601

@faneshion @bwanglzu We should update our tutorials ASAP.

[2019-02-24 05:59] uduse commented on #633
A duplicate of #615 ?

[2019-02-24 06:08] uduse commented on #632
`workers=5, use_multiprocessing=False` this part is causing the problem.

I investigated this problem and found out that this bug is only reproducible if `workers` is set and `use_multiprocessing=False`. This means the problem is most likely caused by a thread safety issue of `keras.Model.fit`: `datapack.left` in this case is shared across the workers, and some worker have invalid data due to chan

[2019-02-24 08:14] shizhouxing commented on #633
Has the issue been fixed? I reinstalled the latest MatchZoo from github and it appears that the issue still exists.

[2019-02-24 09:55] bwanglzu commented on #615
@pl8787 which pr?

[2019-02-24 14:11] uduse commented on #633
@shizhouxing I believe it's fixed in branch 2.1-dev, but not released to the master branch yet.

[2019-02-25 00:43] shizhouxing commented on #633
As for branch 2.1-dev, it seems that error has been fixed. But I then met the following error:
[code]

[2019-02-25 01:00] shizhouxing commented on #633
@uduse It seems that the issue still exists in branch 2.1-dev.

[2019-02-25 06:11] rajicon commented on #628
I've experimented more, and it seems that it only gets caught at .1389 sometime, I'm beginning to think it is a local minima, and I may have been mistaken.  I will continue experimenting with many models and if they all seem to sometimes get stuck at .1389 I will report back with more details.  Also the tutorials have been very helpful, thanks for linking them.

[2019-02-25 06:11] #628 closed

[2019-02-25 06:15] uduse commented on #633
@shizhouxing Ok, we will update the tutorials ASAP. Stay tuned.

[2019-02-25 07:17] shizhouxing commented on #633
@uduse Thank you

[2019-02-26 12:32] robertwt7 opened #637 "DRMM TKS usage"
Hi There,

I've been trying to use DRMM TKS in matchzoo, however I always got this error and i don't have enough information to use it other than the Tutorial from WikiQA

From what I understand:

I'm currently training the data on a small amount of query from Robust collection, i'm using top k query (100) for training and valid pack in order to predict the whole 1k Docs that is retrieved by Bm25

[2019-02-27 04:19] uduse commented on #637
These two `num_neg` should be the same:

`ranking_task = mz.tasks.Ranking(loss=mz.losses.RankCrossEntropyLoss(num_neg=4))`
`train_generator = mz.PairDataGenerator(train_pack_processed, num_dup=2, num_neg=1, batch_size=10)`

[2019-02-27 13:38] robertwt7 commented on #637
OH okay!

It works perfectly now thanks for the reply!

[2019-02-27 13:38] #637 closed

[2019-03-01 12:11] bwanglzu commented on #633
@uduse @faneshion create an issue for tutorials?

[2019-03-01 15:45] bwanglzu opened #638 "Replace read_table with read_csv"
Related to #623 , but not fully fixed.

[code]

[2019-03-04 10:50] bwanglzu commented on #638
has been solved in 2.1.

[2019-03-04 10:50] #638 closed

[2019-03-06 20:21] rajicon opened #641 "DSSM not working well with Cross Entropy, but is working well with MSE"
I'm experimenting with DSSM, and getting good results when I use MSE as the loss function.  However, when I use Cross Entropy (which I believe it is supposed to use), the results are very poor.  I was wondering if I was doing something wrong, so I'm posting my code here:

[code]

I'm not sure if I can post the data here, but it is an .csv with 5 columns, the number, id_left, text_left, id_right, t

[2019-03-06 20:56] bwanglzu commented on #641
@rajicon would you like to post your code somewhere using ipython notebook (so we can get a bit more info)?

[2019-03-06 21:41] rajicon commented on #641
@bwanglzu   Sure, I will try to post something tonight or tomorrow.

[2019-03-13 03:02] ZizhenWang opened #642 "wandering source code"
Due to the low scalability of Keras' higher level encapsulation, we plan to ***replace Keras by TensorFlow (tf.keras)*** to reduce the difficulty of new model development.

We plan to replace the class hierarchically from lower level to higher level. Although the two frameworks have the same interface, they are not compatible with each other. Therefore, only unit tests can be performed during the

[2019-03-13 10:45] sth4k opened #644 "Why extra dense layer for CDSSM"
I'm a bit confused of the CDSSM model structure. The second last layer is the dot product with normalization being True, so i suppose the score is between [0,1]. Can't we just use this score for ranking, why there is one more dense layer with linear activation after dot product?

I notice that, if i use the current model with dense layer as last layer, when i do model.predict, the order is 0, 1, 2

[2019-03-13 10:52] bwanglzu commented on #644
@sth4k you're correct, the original paper use cosine similarity to mearesure the similarity between query vector and document vector, the reason we add an extra dense layer is:

1. To keep model structure consistent.
2. To allow CDSSM working for ranking task as well as classification task.

[2019-03-14 03:09] rajicon commented on #641
Here are the notebooks:

https://github.com/rajicon/matchzoo-experiments

The main notebook is matchzoo_toy_ce.ipynb , to be compared matchzoo_toy_mse.ipynb .  I made a toy example using the WikiQA dataset.  I took all the matches, and then generated 5 negative samples per pair.  The data is the .csv file.

For this toy dataset, the results aren't good, but I'm more interested in whether my code i

[2019-03-14 07:29] jellying opened #645 "Preprocessing error on SNLI dataset."
### Describe the bug
I modified the ARC-I tutorial on WikiQA to test it on SNLI. A bug occur when using the code below:
[code]
The error is below:
[code]

### To Reproduce
Run the code again.

### Describe your attempts
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this is not a duplicate issue

You should also provide code snippets you tried as a workarou

[2019-03-14 08:44] bwanglzu commented on #645
The problem is that you have None (NA) types in your datapack object. The best thing to do is to manually drop `nans` when loading the data set.

something like:

[code]

And to see whether the bug still occurs.

See [here](https://github.com/NTMC-Community/MatchZoo/blob/f58f176e04ebfbd38a3dcc540af7efecf6cb14c0/matchzoo/datasets/snli/load_data.py#L79-L85)

[2019-03-14 11:07] jellying commented on #645
Thanks. Add this line below and it worked well.
[code]

[2019-03-15 02:36] wanghaoyu0408 opened #647 "mz.PairDataGenerator makes error"
train_generator = mz.PairDataGenerator(train_pack_processed, num_dup=1, num_neg=4, batch_size=64, shuffle=True)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/data1/home/haoyu/MatchZoo-master/matchzoo/data_generator/pair_data_generator.py", line 58, in __init__
    num_neg)
  File "/data1/home/haoyu/MatchZoo-master/matchzoo/data_generator/pair_data_generator.py",

[2019-03-15 07:07] #645 closed

[2019-03-15 09:02] uduse commented on #647
Please use our issue template. Normally I do not enforce this but your question is so simple that I doubt you invested effort trying. Use the issue template so I know you spent at least 5 mins on this, and then I will be glad to help you.

[2019-03-15 09:02] #647 closed

[2019-03-16 03:01] jellying opened #648 "ARC-I training bug on Snli1.0"
### Describe the bug
Continued on #645, I fixed the Snli load_data.py bug and run the code below:
[code]

The error is below:
[code]
If I set the batchsize=1 in train_generator, the error changed like this:
[code]

### To Reproduce
Run the code above.

### Describe your attempts
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this is not a duplicate issue

Y

[2019-03-16 14:02] ZizhenWang opened #649 "add QuoraQP dataset"
I will add QuoraQP dataset for both ranking and classification tasks.

[2019-03-17 20:44] rajicon opened #652 "How to get match predictions from models trained using cross entropy?"
The tutorials show how to train these models, but not how to get a probability afterwards.

When using cross entropy, the model does not output a probability, because the probability is calculated in the loss function using the softmax function.  However, this probability requires negative samples, meaning the probability is dependent on match scores of other pairs.  So, when trying to use the mod

[2019-03-18 02:09] uduse commented on #648
Bug fixed.

[2019-03-18 02:09] #648 closed

[2019-03-18 15:04] ctrado18 opened #654 "Run aNMM"
I am new to MatrchZoo. I wonder how to run aNMM. The docs don't have usage for aNMM. I feel I have to run a script for calculating the bin_sizes for aNMM? But I cannot find where this script lies.

Furthermore, my training data does need to have a format like here:
https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/datasets/toy/train.csv

right?

And, where are the batches created? Si

[2019-03-18 16:40] yangliuy commented on #654
@ctrado18 Thanks for the questions!
For the code for generating the bin sum in the interaction matrix, currently you can refer to [https://github.com/NTMC-Community/MatchZoo/blob/1.0/data/WikiQA/run_data.sh](url) and [https://github.com/NTMC-Community/MatchZoo/blob/1.0/data/WikiQA/gen_binsum4anmm.py](url) in MatchZoo V1.0. As for MatchZoo V2.0, I am preparing another tutorial to demonstrate how to

[2019-03-18 17:52] ctrado18 commented on #654
In ranking (input a question output one or two answers) like with aNMM or siamese networks or any other ranking deep learning models where you usee a rank loss, is it just enough to have labels with value 0,1 indicating wether the answer is right or false? How many negative examples I need? I just want to learn relevant and irrelevant documents.

[2019-03-18 21:45] yangliuy commented on #654
@ctrado18 The labels could be binary or multiple different levels in integers deeps on your setting. For WikiQA, the negative examples in the training data are from human annotations. If you use negative sampling to create the negative training data, you can try different settings for the number of negative examples. But this is not needed for data like WikiQA/TRECQA.

You can refer to the code of

[2019-03-19 03:28] sth4k commented on #644
Yeah that's what i am thinking. Thanks for your reply!

[2019-03-19 03:28] #644 closed

[2019-03-19 13:06] ctrado18 commented on #654
Thanks. I just confused about the relationship of the label (0,1) for a contrastive loss which claculates the loss from a score and not the label. So how does my rank model (any one like aNMM in keras) to relate the label with the corresponding loss?  If I understand your aNMM paper right you are doing so.

Up to now I have no experience in using rank losses in tenroslfow/keras or in general.

[2019-03-19 15:42] yangliuy commented on #654
@ctrado18 Let's take pointwise ranking loss and pairwise ranking loss as the example. In pointwise ranking loss, you are treating ranking as a special case of classification/regression tasks. Basically you are trying predicting the ground truth label based on the features of  a query/doc pair. However, in pairwise ranking loss, you are trying predicting the relative order of a positive doc and a n

[2019-03-20 01:23] pl8787 commented on #633
@shizhouxing I can not reproduce this running error, in my environment, it is running well.
How about check your MatchZoo version? Please uninstall then install the newest one.

[2019-03-20 15:27] ctrado18 commented on #654
Thanks! I think I am going to understand. I read the papers.

For pointwise ranking you could also have just labels 0 and 1? Or do you have then in your training data just the pairs of query and positive document together with one of multiple (>2) labels?
And in pairwise loss you use the final score from the final layer to compute the loss, instead of using a label, right?

Do you know any simplif

[2019-03-20 16:40] yangliuy commented on #654
@ctrado18 You can refer to the code of point/pair/list generator in MatchZoo 1.0 here
 https://github.com/NTMC-Community/MatchZoo/tree/1.0/matchzoo/inputs

[2019-03-20 17:01] ctrado18 commented on #654
In v2  is this the same like pairDataGenator?  I can use this in v2 for aNMM too, right? Where the difference between v1 and v2?Also in v1 there are no examples showig the general usage?

Are there any small example in v1 or v2 showing to run a model with a pairwise loss?

[2019-03-20 17:08] yangliuy commented on #654
@ctrado18 Currently I suggest you to use the aNMM model in v1. As for v2, I am preparing a tutorial on how to run aNMM. You can check back later. The input data format and model implementations of v1 and v2 are very different. I think you can follow the documentation here https://github.com/NTMC-Community/MatchZoo/tree/1.0 (which is easy to follow) if you want to run aNMM on datasets like WikiQA o

[2019-03-20 18:37] ctrado18 commented on #654
Thanks I will try it with with my own Data!

 Could this be also binary labels with 0,1? Then you would also add negative examples for each query? Then for me it is difficult to discrimante both point and pairwise since also pointwise would learn to discriminate between negative and positve label? Maybe I am on the wrong rote? :-)

[2019-03-20 20:37] yangliuy commented on #654
@ctrado18 Yes, it can be binary labels. Think of loss functions like MSE or Cross Entropy. You don't have to sample negative examples for each query. All you need to do is to build batches of training instances according to <q,d> for pointwise ranking or <q, d+, d-> for pairwise ranking to train your model.

[2019-03-20 20:45] ctrado18 commented on #654
I assume that also I can try first aNMM or DSSM with a pointwise loss? Is this possible with the hinge loss?

[2019-03-20 21:48] rajicon commented on #641
@bwanglzu I just realized I forgot to tag you in the above comment.  As mentioned above, I have posted an example of my code using a toy dataset.

[2019-03-21 01:03] #632 closed

[2019-03-21 06:45] yechens opened #656 "How to add Chinese stopwords in model"
Hello, I want to consult how I can add Chinese stopwords in my model?
Thank you for your time!

[2019-03-21 17:59] ctrado18 commented on #654
@yangliuy I see it you can since there is also a classification example. Fine. One question what is the DRMM   PairGenerator?`Why do I need it for aNMM classification? Is it working with normal PairGenerator too?

For aNMM I need to run this bin sum script first to get this hist_file, right? And what is the relation file?

Sorry for those trivial questions.

[2019-03-21 18:17] yangliuy commented on #654
@ctrado18 You can check the config files under here https://github.com/NTMC-Community/MatchZoo/tree/1.0/examples/wikiqa/config and https://github.com/NTMC-Community/MatchZoo/tree/1.0/examples/QuoraQP/config . For classification, you can refer to the config files of QuoraQP.

Yes, you need to run the binsum script. As for what the relation file is, please find it in the readme file. I suggest you t

[2019-03-22 11:18] ZizhenWang commented on #656
https://github.com/NTMC-Community/MatchZoo/blob/1aad95b21e64a0e42d70c36317c77c8285a79a80/matchzoo/processor_units/processor_units.py#L100-L139
You can replace the func here. In `__init__` you need initial the stopwords, and define the filter method in `transform`

[2019-03-24 02:40] uduse commented on #656
Inherit the `StopRemoval` class and overrides its property `stopwords` with your choice of words.

[2019-03-24 15:14] Chriskuei opened #659 "Implement Match-SRNN"
Implement Match-SRNN.

[2019-03-27 09:38] jellying opened #667 "Implement ESIM"
Implement ESIM on 2.1-dev.

[2019-03-30 04:23] #649 closed

[2019-04-01 07:43] levyfan opened #671 "DynamicPooling dpool_index can be refined by tf.image.crop_and_resize"
- [x] I checked to make sure that this is not a duplicate issue
- [x] I'm submitting the request to the correct repository (for model requests, see [here](https://github.com/NTMC-Community/awaresome-neural-models-for-semantic-match))

### Is your feature request related to a problem? Please describe.
DynamicPoolingLayer is implemented by dpool_index, and dpool_index should be feed manually by pyth

[2019-04-01 07:56] pl8787 commented on #671
It seems a good idea.

[2019-04-02 01:44] Crysitna opened #672 "Implement ESIM 2"
Sorry for didn't see issue #667  during implementation. Finished the ESIM model and test code already.
Run the model on WikiQA, got map and mrr around 0.7

[2019-04-02 05:56] faneshion opened #674 "Implement the PWIM model"
Implement the PWIM model (i.e., "Pairwise Word Interaction Modeling with Deep Neural Networks
for Semantic Similarity Measurement") which is published in NAACL 2016.

[2019-04-02 08:52] pl8787 commented on #671
@levyfan Please check this PR. There are some errors when I use small batch size in evaluation phase.

[2019-04-02 10:07] bwanglzu commented on #674
add to awaresome repo?

[2019-04-02 16:50] datistiquo commented on #654
I am almost done. But I see that you manually have to give the vocab size? That is a bit hard to find out everytime. Am I right that this is the size of the word_dict?

[2019-04-02 17:19] yangliuy commented on #654
@datistiquo Yes, you're right.

[2019-04-03 14:37] datistiquo opened #683 "Parameters for preprocessing and model in DRRM v1?"
Some params in the model config files are related to preprocessing like hist_size. So changing them there leads to errors and you need to change the hist_size manually in eg.test_histogram_generator.py? That is a bit confusing or do I miss something?

I think this is just in v1 the case and the usage is enhanced in v2?

Very kind regards!

Edit:

In rank_io.py

[code]

The sentence is only read fr

[2019-04-03 15:03] datistiquo commented on #236
@faneshion @bwanglzu The sample code link does not work anymore . Where can I find this?

[2019-04-03 15:13] datistiquo opened #684 "Predict a new query"
I already searched here. I use right now v1. Is there any sample code (I just found a broken link)? I have my trained DRRM model and want to predict ranking documents for a new query.

How is the current state in v2 to that?

I handleld to train the modle for my own custom text data with own fast word embedding. Normally I just would predict a new query but the output are the text IDs. So for DRRM

[2019-04-03 17:10] datistiquo commented on #684
I assume in v2 it is handled automatically? I need to do just preprocessor.transform(prediction_data_pack) with my new query which is in prediction_data_pack and then unpack and afterwards evaluate the model? So mapping like to histogram is done automatically?

But how do I that in v1?

[2019-04-03 18:02] yangliuy commented on #684
@datistiquo In v1, check https://github.com/NTMC-Community/MatchZoo/blob/1.0/data/WikiQA/gen_hist4drmm.py for generating the hisogram for DRMM.

[2019-04-03 18:25] datistiquo commented on #684
@yangliuy Thanks. I already studied this. But how does this help me to do a prediction on a new query? Because you assign embedding via document IDs and a new query has no ID.
But is it true that real prediction is going in calc_hist of the DRMM_List_Generator? as I see there it does not need IDs at my first guess.

I was confused by some posts here such that you need to create a new matching matr

[2019-04-04 15:28] jibrilfrej opened #685 "ValueError: Validator not satifised."
### Describe the bug
Please provide a clear and concise description of what the bug is. If applicable, add screenshots to help explain your problem, especially for visualization related problems.

I am on matchzoo 2.0.0 and when I try to play with the code found in model_tuning.ipynb, i get an error when trying to tune the model.

### To Reproduce
Please provide a [Minimal, Complete, and Verifiabl

[2019-04-04 15:34] jibrilfrej opened #686 "Example training on GPU"
- [ ] I checked to make sure that this is not a duplicate issue
- [ ] I'm submitting the request to the correct repository (for model requests, see [here](https://github.com/NTMC-Community/awaresome-neural-models-for-semantic-match))

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I wou

[2019-04-04 16:13] uduse commented on #685
You're running the newer version of the tutorial on the old version of matchzoo. Please make sure your code base is updated to the master branch.

[2019-04-04 16:17] uduse commented on #686
Training on GPU is not matchzoo's job but the job of it's underlying dependencies, i.e. keras. If you know how to train keras models on a GPU, then it's the same. If you don't then go ahead and find some tutorials on training keras models on GPU. If you want API in matchzoo that **better** supports training on GPU than native keras, then it's a different story.

[2019-04-05 10:07] jibrilfrej commented on #685
ok thanks I installed matchzoo with pip maybe thats why

[2019-04-05 10:07] #685 closed

[2019-04-05 10:08] jibrilfrej commented on #686
ok, thank you

[2019-04-05 10:08] #686 closed

[2019-04-08 11:56] datistiquo commented on #684
@yangliuy:  I have some trouble to figure out  how to do üprediction with new queries?! In prediction phase the get_batch  method iterates trhouh the whole relation file created from training phase. So it seems that xthe predcition here is focused on  data conatined in trainining data. Do I need to write custom code for predictions?
Could please sketch in few words the way what thinks I need tpo w

[2019-04-08 13:07] datistiquo commented on #426
@bwanglzu But prediction relies on a relation file? I just trry with DRMM_Listgenerator to predict a new query. If I have preprocessed the query how to I go over the relation IDS?

[code]

[2019-04-08 13:13] bwanglzu commented on #426
@datistiquo Are you using matchzoo 1.0?

[2019-04-08 13:25] datistiquo commented on #426
yes

[2019-04-08 13:28] datistiquo commented on #426
I thought such predictions are handled with matczoo? But I think you must need to customize such that overgo IDs and manualy add word IDs from the dicts to eqach word in the query. But then is the question can you feed easily the score matrix for each  query with each doc?

[2019-04-08 13:46] bwanglzu commented on #426
@datistiquo Yes,  the predictions are handled with matchzoo, you can consider matchzoo as a research platform that compare "which algorithm has the best performance for text matching".

I recommend you try out the latest version of Matchzoo (2.1), it will take over all the preprocessing tasks and much easier for you to build your model.

[2019-04-08 13:55] datistiquo commented on #426
I don't know I you understand or may I have misunderstandings. Predictions are not coming out  of the box. List gnerator relies on relation file. Same in v2.

There is no guidance of the structure format for new predictions! So I struggle reading the code to customize. But you say it is out of the box?

Out of the box would be:

model.predict(new_query.txt)

wit the new query.

[2019-04-08 14:09] datistiquo commented on #426
It would be very nice if could write just a word the way I need to do. I am in a bubble right now, because I get no clear answer.

Format requires relation file with the query togetehr with positive and negative document. But how should I know that for a new query? You see my problem? And that is the same as in v2 I saw.

5. Sort the score list.

To do this I need a format like` '('T34', [(1, 'T35

[2019-04-08 14:39] datistiquo commented on #426
What Ithought I need to do is the following:

For a single new query I manually create a file where in each line I have the same query with it word IDS together with two docs (each also with its word IDS). Every line of the same query together with two documents is filled simply from the begining of my docs in steps of two.
In this way I will fill the curr_batch from above code customizing to over

[2019-04-08 14:42] bwanglzu commented on #426
@datistiquo I have no clue what is a relation file and the IDS you mentioned above, can you answer @faneshion @pl8787 @yangliuy ?

[2019-04-08 14:52] datistiquo commented on #426
@bwanglzu  Serious? 😄

Ok then maybe you explain the point of creating the score list like you did? Just few words such that I can find out myself.

[2019-04-08 14:54] bwanglzu commented on #684
hi @datistiquo , when you're using matchzoo 2.0, preprocessor will do the mapping automatically, let's say:

[code]

After you preprocess the training data using `your_preprocessor`, it will store the fitted parameter into the `your_preprocessor`, so you only need to use `your_preprocessor` to transform the data pack object you wanna predict.

[This](https://github.com/NTMC-Community/MatchZoo/blob

[2019-04-08 14:58] bwanglzu commented on #426
@datistiquo see #684

[2019-04-08 15:02] bwanglzu commented on #426
@datistiquo :) I didn't participate the development of 1.0, that's the trick...

[2019-04-08 15:03] yangliuy commented on #426
@datistiquo I think your question maybe relevant to how to generate the relation files for a new query. Firstly you can refer to the script and related functions for generating the relation files [here](https://github.com/NTMC-Community/MatchZoo/blob/1.0/data/WikiQA/prepare_mz_data.py). Then you should understand the differences between the training process and prediction/testing process. I think

[2019-04-08 15:21] yangliuy commented on #684
@datistiquo You can refer to my answers here #426 . Again you can generate new ids for new queries or reuse old ids if they appear before. The ids of queries in testing data are already generated during the data preprocessing stage. Actually you don't need the query id to generate the predicted matching score. They are just for more convenient/efficient implementations.

[2019-04-08 15:23] datistiquo commented on #426
Is it the idea of text mathing like DRRm to get the most relevant documents for a new query? 😄

What I was confused is that prediction is actually equal to testing...and in config file the prediction phase is related to training phase. Prediction is done using `text1_corpus` and `text2_corpus`! The intuition would to have there your new data.

I have now a good trick doing real prediciton. You jus

[2019-04-08 15:27] datistiquo commented on #684
@bwanglzu  @yangliuy Thanks!
But @bwanglzu for prediction you need a format required for data pack with ids and text_right toegtehr with label. I assume you artificially create this format for a single query such that you have text_left the same query and text_right you go trhough all documents? But how do you assign the labels. Can they all be set to 1 or 0?

[2019-04-08 16:57] datistiquo commented on #684
@bwanglzu Yes. But I mean that is the poiunt for predicting new queries. How to fomrat the data pack structure? How di you do that. My above way is the only way I can think of right now...

[2019-04-09 00:03] dingxianwang opened #689 "How to install version 2.1.0 only 2.0.0 founded"
How to install version 2.1.0 through pip? How can I use version 2.1.0?

[2019-04-09 01:29] faneshion commented on #683
Hi @datistiquo , we ignored the first word as the line[1] denotes the length of the sentences. This the original version of the process code. Strongly recommend the latest version [V2.1](https://github.com/NTMC-Community/MatchZoo/releases/tag/v2.1)  which have introduced a number of new features.

[2019-04-09 02:46] uduse commented on #689
I believe 2.1.0 is not yet published on pip. You have to do a git pull then install it locally instead.

[2019-04-09 10:55] bwanglzu commented on #684
@datistiquo
![image](https://user-images.githubusercontent.com/9794489/55794860-b51b4b00-5ac6-11e9-8db7-e13727f59603.png)

[2019-04-09 12:29] datistiquo commented on #684
@bwanglzu 😄 I read this multiple times, see above:

Did you set labels artificially to 1 or 0 as labels do not play a role for prediction. I am now on the way to format it like this for ONE new query - list it in each line with ALL doc:
[code]

Sorry for bad formatting

[2019-04-09 12:32] bwanglzu commented on #684
@datistiquo why do you need label for prediciton? Prediction means you do not need labels, right?

[2019-04-09 12:40] datistiquo commented on #684
I get more and more confused @bwanglzu . You said I should read the tutorial. For Prediction you need the datapack structure?? And this must have the above format?!

So mabye again, just tell how you format the datapack to do prediction with one query to all your docs?

[2019-04-09 12:48] bwanglzu commented on #684
@datistiquo for `training` and `valuation` stage, you do need labels to train a network or evaluate how your model performance.

For testing, you do not have label. So your datapack should consist of four columns: `query id` (`id_left`), `query text` (`text_left`), `doc id` (id_right), `doc test` (`text_right`).

![image](https://user-images.githubusercontent.com/9794489/55801267-f8c98100-5ad5-11e

[2019-04-09 12:52] datistiquo commented on #684
Ok it is almost like I thought. When reading tutorial you could assume labels are neccessary part of a datapack. Ok now it is clear.

Now, I will try it.

Mayn thanks for those trivial steps! 😃

[2019-04-10 09:38] #684 closed

[2019-04-10 15:01] datistiquo commented on #684
@bwanglzu  I studiy the preprocessor and units since I have custom preprocessing with stopwords and stemming... I think I can write I simple function unit and call it with apply_to_text?
I just also wonder, in basic preprocessors fit method the fixedlength is not used in there but only in transform. Is there any reason why?

[2019-04-10 16:59] datistiquo opened #697 "v2: datapack IDs after preprocessing change"
Hi,

I created my datapack. I printed the first 5 lines to confirm results after prepprocessing with BasicPreprocessor. I recognized that the order of lines and so the IDs changes (The new preprocessed lines corresponds to different IDs than before). But I cannot find the reason.  Does preprocessing somehow shuffles the orders?

I would like to have the same order.

[2019-04-11 03:04] uduse commented on #697
The index id of a datapack is subject to change of any preprocessing process. Also, if you're printing the entire datapack out using `datapack.frame()`, it's more likely so since there are a lot of table manipulations in it. It is also possible that the preprocessing process filters some of the data, so the data you're looking for is actually not in the result.

[2019-04-11 03:14] luck49 commented on #355
貌似目前仍然没有中文的处理逻辑？@bwanglzu

[2019-04-11 03:20] uduse commented on #355
@luck49 自己继承一下 tokenizer 用 jieba 之类的东西分词，放 preprocessor 里，其他的步骤都是完全一样的

[2019-04-11 04:32] luck49 commented on #355
ok👌 @uduse

[2019-04-11 09:20] datistiquo commented on #697
Thanks. Lets say my processing  does not delte any lin, how are the changes of IDS happens (and where)?

Also running each time change the vocab IDs? But I thiunk this is correlated to chnage of IDs before preprocessing.

If the IDs change it is not so easy in prediction to map the predicted documents to your original via ID? How should I do that then? Since I use heavily stemming and removing wor

[2019-04-11 09:41] uduse commented on #697
I meant `index id` that denotes the number of a specific row is subject to change and you shouldn't assume its order. `id_left` and `id_right` are the real identifier of samples and `datapack.relation` always correctly manage them. If you're asking the detailed behavior of how index ids and `id_left/right` are managed, then you have to read the source code. There are `reset_index` and `groupby` he

[2019-04-11 12:35] datistiquo opened #703 "Bug during training DRRM v2.1?"
It seems that the below usage is not allowed anymore in datapack.py? I just followed the DRRM turoial:
https://github.com/NTMC-Community/MatchZoo/blob/master/tutorials/wikiqa/drmm.ipynb

[code]

[2019-04-11 13:07] faneshion commented on #703
Thanks for the feedback, I will check this at once.

[2019-04-11 13:18] datistiquo commented on #703
Thanks.

In :
`
train_generator = mz.DataGenerator(train_pack_processed, mode='pair', num_dup=1, num_neg=2, batch_size=20,   callbacks=[hist_callback])`

Must be num_neg equal to the number of negative examples per instance in my training data? In my data I have for each sample one positive and 2 negative examples, but some are duplicates so I might have per each instance 2 pos and 4 neagtive exam

[2019-04-11 13:19] #697 closed

[2019-04-11 13:23] datistiquo commented on #654
@Bt for v2 there is no anmm preprocessor so I wnated to create one. But it seems that there is no callback or preprocessing for gernating the bin sums?

[2019-04-11 14:26] datistiquo commented on #703
@faneshion I solved it. Need to learn the usage. num_neg parameters is important to match exactly your training data! Now it seems working...

[2019-04-11 14:26] #703 closed

[2019-04-11 14:27] #683 closed

[2019-04-11 15:29] yangliuy commented on #654
@datistiquo Yes, the preprocessing for generating the bin sums in v1 hasn't been added into v2 yet. You are welcome to make contributions on this part!

[2019-04-11 15:36] datistiquo commented on #654
@yangliuy would I do this with preprocessor or with a callback instead like calculating the mathcing histograms via callback? What way would be suitable for anmm? Is that all to take care for anmm?

[2019-04-11 16:19] yangliuy commented on #654
I think it should be via callback. But I also need to double verify this. Maybe @faneshion can give you better answers on this.

[2019-04-11 16:38] yangliuy commented on #654
@datistiquo You can refer to the function for histogram computation here: https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/preprocessors/units/matching_histogram.py and https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/data_generator/callbacks/histogram.py . This solution may introduce duplicated computation of matching histograms for the same <q,d> pair. You can also

[2019-04-11 16:39] datistiquo commented on #684
@bwanglzu  The prdicte output values are also negative. What is the meaning of those values? And how do I get back the accoridng document ID/Class? I am a little unexperienced with working with ranking models. I tried model.predicted_classes which does not work...

[2019-04-11 16:50] datistiquo opened #706 "How to get the predicted documents?"
I use the DRRM model with RankCrossEntropyLoss. The output values model.predict() are also negative. What are their meanings? And how do I get the predicted document IDs for an input query? I would like to map this output to the corresponding documents. It seems a bit different to classification?

Thanks.

[2019-04-11 17:34] datistiquo commented on #654
@yangliuy Isn't it the matching histogram scheme the same as needed for anmm? So you can use it as it is. But I don't know if this will work as the input for DRMM and ANMM (query plus matching matrix) is different?

[2019-04-11 17:59] yangliuy commented on #654
@datistiquo You can try to run experiments to test this. The main difference is that ANMM will compute the sum of weights in each bin and aggregate them via the feedforward networks and question term attention networks.

[2019-04-11 18:17] datistiquo commented on #654
@yangliuy I meant it in the way implementing it in the matchzoo framework. Caluclating bin sum is like calculating the histogram. So procedure is doing like DRRM? I just modify the matching histogram to calculate the sums and would train like DRRM just with ANMM model. I just ask if the output of this callback is suited for ANMM since DRRM just want the matching histogram but ANMM want also the qu

[2019-04-11 18:39] yangliuy commented on #654
Yes, you can modify the matching histogram to calculate the sums and train ANMM similar to DRMM. Both ANMM and DRMM need queries as the input. The differences are in the construction process of matching histogram and bim sum matrix. You need to run and debug the code to verify whether the output of this callback function is suitable.

[2019-04-12 02:52] yunhenk opened #707 "sample code problem in README.md"
Something is wrong with the sample code in README.md.
### Pro 1
Line 112-113
[code]
The variable 'pred_x' doesn't exist in previous code, this makes the total sample code unable to run.
### Pro 2
nltk resource init
[code]
These code are also needed for the sample code to run.

[2019-04-12 03:58] uduse commented on #707
The README is out-dated. Please see "tutorials/quick_start.ipynb" for a better reference.

@bwanglzu @faneshion I suggest removing the code in the README completely and replace it with our tutorial reference.

[2019-04-12 04:58] faneshion commented on #703
The number of `neg_num` is connected to the `loss`. You should set them as equal. More detailed information, please check the documentation of the function.

[2019-04-12 05:40] yunhenk commented on #707
Got it, tutorial reference is better.

[2019-04-12 07:15] bwanglzu commented on #707
Ill take over

[2019-04-12 10:40] yunhenk opened #710 "Matchzoo metrics only works on ranking"
### Describe the Question
this happens when do evaluation
[code]
and here is my task, following the comment of Classification class
[code]
please help check this problem,thanks

[2019-04-12 13:39] uduse commented on #710
So what is your question? Why matchzoo metrics do not work for classification?

[2019-04-12 13:54] bwanglzu commented on #707
@uduse I personally perfer quick start in readme to give user a first impression on how it works.

[2019-04-12 13:55] datistiquo commented on #706
If I have the output like:

[code]

Is the order of this array the same like from the input? So If I want to predict one query with 3 docs:

query    doc1
query    doc2
query    doc3

So the first precicted number 2.12 corresponds to doc1? For probabilieis I wouldtake the argmax but they are no probabilities?

[2019-04-13 05:15] uduse commented on #707
@bwanglzu README shouldn't be too long, but I agree that a ~15 lines minimum working code would be nice.

[2019-04-13 08:35] voladorlu opened #713 "Set default backend dl library."
May I ask how to change the default backend dl engine.

I'm trying "import matchzoo as mz", it seems to using theano as the default backend.

I already have tensorflow and theano. But I wanna use tensorflow as default backend.

I checked the document, but didn't find the instructions.

[2019-04-13 12:21] faneshion commented on #689
@dingxianwang We have upload the 2.1.0 version into the pypi. You can try it with `pip install matchzoo`.

[2019-04-13 18:47] uduse commented on #713
This may be helpful https://keras.io/backend/

[2019-04-13 18:49] voladorlu commented on #713
It looks helpful. Thank you so much!

[2019-04-13 18:50] #713 closed

[2019-04-14 08:44] ZizhenWang opened #714 "add SemEval-16 dataset"
[SemEval-16](http://alt.qcri.org/semeval2016/task3/) is a widely used dataset for Community Q&A, which support `question-question similarity` like ***quora*** and `question-answer similarity` like ***wikiqa***, it also provides different metrics like MAP for ranking and Acc for classification as a benchmark

[2019-04-14 14:24] #575 closed

[2019-04-14 14:48] uduse opened #715 "model fit failure on certain batch sizes"
### Describe the bug
These four models fail to fit when setting batch_size to 4:
- DRMM
- MatchPyramid
- CDSSM
- DSSM

### To Reproduce
Set `batch_size` to 4 when running tests. See [this CI run](https://travis-ci.org/NTMC-Community/MatchZoo/jobs/515104537)

### Describe your attempts
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this is not a duplicate is

[2019-04-14 14:52] #672 closed

[2019-04-14 14:52] #667 closed

[2019-04-15 01:22] yunhenk commented on #710
Yes, what metric should i use for classification? Do i need to write one myself?

[2019-04-15 01:52] yunhenk commented on #710
Hi, I checked some source code, here is : BaseModel.evaluate:
[code]
As for as i can see, the precision metric is a successor of BaseMetric, ie. a matchzoo_metric, which makes it unable to be used on classification tasks, this seems unreasonable.

[2019-04-15 08:56] ZizhenWang opened #717 "implement BPE preprocessor"
BPE is used many NLP tasks as machine translation, generation and pre-training, we will implement a BPE processor to support these requirements.

[2019-04-15 09:22] bwanglzu commented on #717
but why do you think it's related to text matching?

[2019-04-15 09:25] bwanglzu commented on #710
@yunhenk in this case you should make use of keras metrics, see [here](https://keras.io/metrics/)

[2019-04-15 11:47] #453 closed

[2019-04-15 11:47] #441 closed

[2019-04-15 13:12] ZizhenWang commented on #717
It is basic tokenizer of Bert.

[2019-04-15 14:09] bwanglzu commented on #717
if it's a tokenizer, then should be designed as a processor unit.

[2019-04-16 01:34] yunhenk commented on #710
@bwanglzu Thanks, got it. By the way, do you consider adding metrics for classification tasks, since keras metrics removed now. And add one classification task tutorial maybe?

[2019-04-16 12:37] ClassforName opened #718 "Can't find data of wiki in the tutorials"
![image](https://user-images.githubusercontent.com/26315143/56209963-6271fe00-6087-11e9-8758-c1d302d24c5d.png)

![image](https://user-images.githubusercontent.com/26315143/56209922-4cfcd400-6087-11e9-854a-51844eae14d9.png)

[2019-04-16 12:40] #718 closed

[2019-04-16 12:42] #707 closed

[2019-04-16 12:52] bwanglzu commented on #710
@yunhenk We'll add tutorials for classification, need some discussion whether to add precision/recall into metrics,  might confused with ranking metrics..

[2019-04-16 12:55] #710 closed

[2019-04-17 09:45] bwanglzu commented on #715
tried to set batch_size to 4 on ubuntu 18.04, can not reproduce the error (dssm & cdssm).

[2019-04-17 09:59] bwanglzu commented on #706
hi @datistiquo I'm not the person who designed this network, as far as I know, the final score (so called *matching score*) is produced by a *term gathering network*.

So this model  do not produce probability.

[This](https://github.com/NTMC-Community/MatchZoo/blob/2547f9d1b302d0f166508ba39fa659dfa210a276/matchzoo/engine/base_model.py#L383) is the place we try to make prediction, you can see that

[2019-04-17 10:01] bwanglzu commented on #706
@faneshion maybe you can elaberate a bit more on the result (negative valeus)?

[2019-04-18 15:50] vmanisha opened #720 "Recall metric implementation"
- [ Yes] I checked to make sure that this is not a duplicate issue
- [ Yes] I'm submitting the request to the correct repository (for model requests, see [here](https://github.com/NTMC-Community/awaresome-neural-models-for-semantic-match))

### Is your feature request related to a problem? Please describe.
Recall metrics are required for certain type of experiments.

### Describe the solution you'

[2019-04-19 03:19] zengjunjun commented on #703
hei
I have the same problem ,can you tell me  .how to um_neg parameters is important to match exactly your training data

[2019-04-19 04:06] uduse commented on #720
@vmanisha I agree that recall is a commonly used metric and will be a nice addition to matchzoo. Also, the change you're proposing is rather independent: you only need to add one file under `matchzoo/metrics` and one test under `tests/unit_test/test_metrics.py` so it's a nice feature to PR for beginners.

We have a general contribution guide [here](https://github.com/NTMC-Community/MatchZoo/blob/m

[2019-04-19 07:44] bwanglzu commented on #703
@zengjunjun `num_neg` refers to train one positive example together with `x` negative examples.

In readme:

![image](https://user-images.githubusercontent.com/9794489/56413410-b51a0880-6287-11e9-8d68-6ae7c7fd81d5.png)

[2019-04-20 07:03] #689 closed

[2019-04-20 07:57] #659 closed

[2019-04-20 09:22] zengjunjun commented on #703
Thanks

[2019-04-23 07:32] voladorlu opened #723 "Index Error"
I'm trying to run matching algorithm taking CNN as the neural encoder. However, following error message shows up.

Colocations handled automatically by placer.
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
===============================================================

[2019-04-23 07:32] voladorlu opened #724 "Index Error"
I'm trying to run matching algorithm taking CNN as the neural encoder. However, following error message shows up.

Colocations handled automatically by placer.
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
===============================================================

[2019-04-23 08:32] bwanglzu commented on #724
close this since it's a duplicate

[2019-04-23 08:32] #724 closed

[2019-04-23 08:37] bwanglzu commented on #723
@voladorlu matchzoo's datapack structure is flex, but in order to property train your model, please follow the `id_left`, `text_left`, `id_right`, `text_right`, `label` format. You can refer to [this](https://github.com/NTMC-Community/MatchZoo/blob/master/tutorials/data_handling.ipynb) tutorial.

I'm not quite sure this is the cause, but please format your input data and run the code first, if not

[2019-04-23 09:07] voladorlu commented on #723
Yes, I exactly follow the example to format the data. But I do not know why index error still shows up.Maybe I’m not setting the model correctly? Initialization is just copied from the tutorial.

[2019-04-23 11:35] bwanglzu commented on #723
@voladorlu can you upload your notebook somewhere on github?

[2019-04-23 19:47] voladorlu commented on #723
@bwanglzu I think I find the reason. It's because of param "embedding_input_dim". It can not be set automatically from the corpus, but have to be set manually. It's a little inconvenient. -:)

[2019-04-23 19:51] voladorlu commented on #723
But it will not have this problem when running DSSM without setting this param. It always fails when I tried to run CNN-based methods like ArcII, MatchPyramids. I have to set manually.

[2019-04-24 07:49] wang7liang opened #725 "训练完的模型怎么使用？"
您好：
    请问如何使用训练好的模型进行预测？

我尝试使用如下代码进行预测
train_df = pd.read_csv('data/train.csv', encoding = 'utf-8')
train_dp_raw = mz.data_pack.pack(train_df)

test_df = pd.read_csv('data/test.csv', encoding = 'utf-8')
test_dp_raw = mz.data_pack.pack(test_df)

preprocessor = mz.preprocessors.BasicPreprocessor()
train_dp_processed = preprocessor.fit_transform(train_dp_raw)
test_dp_processed = preprocessor.transf

[2019-04-24 08:15] ZizhenWang commented on #725
你好，你可以使用`preprocessor.save(path)`保存fit好的预处理器，再次使用时通过`preprocessor = load_preprocessor(path)`加载
https://github.com/NTMC-Community/MatchZoo/blob/2547f9d1b302d0f166508ba39fa659dfa210a276/matchzoo/engine/base_preprocessor.py#L131-L141

[2019-04-24 08:22] bwanglzu commented on #723
@voladorlu yes sometimes you need to set paras manually, this is because different people might have different dimensionality of their embeddings, so it's non-trival to set it to a fixed number. You can refer to this [markdown](https://github.com/NTMC-Community/MatchZoo/tree/master/matchzoo/models) to see the tunable parameters.

[2019-04-24 08:31] voladorlu commented on #723
@bwanglzu  That's really helpful. Thank you so much.

[2019-04-24 08:31] #723 closed

[2019-04-24 08:36] wang7liang commented on #725
非常感谢，解决了我遇到的问题

[2019-04-24 09:24] sth4k commented on #717
I think it's more to solve the OOV (out-of-vocabulary) problem. Currently the vocabulary is only built from training data and thus maybe limited by how you choose your training data.

[2019-04-24 11:16] faneshion opened #726 "Bug in save model"
Bug exists when saving the model with the following setting:
[code]
The callback is :
[code]

[2019-04-24 18:58] voladorlu commented on #203
@bwanglzu  Hi, I got this error when running MatchPyramid with the standard model config suggested by tutorial. The input data can successfully work on several models like DSSM, ArcII. But it outputs this error when trying to run MatchPyramid. I'm not sure where goes wrong. Have ever met this issue?

ValueError: No data provided for "dpool_index". Need data for each key in: ['text_left', 'text_rig

[2019-04-25 03:53] sth4k opened #727 "different preprocessor for text_left and text_right"
Hi I found a problem when using the duet model. Basically after basic_preprocessor, the text_left and text_right vectors are not the same for two same text (exact match). I read through the code, and found that, in basic_preprocessor.py, the filter_unit is applied to text_right.
https://github.com/NTMC-Community/MatchZoo/blob/2547f9d1b302d0f166508ba39fa659dfa210a276/matchzoo/preprocessors/basic_pr

[2019-04-25 03:56] sth4k commented on #726
you can just use model.save('./.tmpdir/') and load it with from matchzoo.engine.base_model import load_model

[2019-04-25 08:22] Chriskuei opened #728 "Optimizers with different learning rate multipliers"
Default keras optimizers have a global learning rate. But sometimes setting different learning rates for different layers may result in better performance.

[2019-04-28 09:50] Nicksphere opened #731 "dssm's ndcg , map metrics are less than the matchzoo tutorials"
I run the dssm algorithm with  matchzoo 2.0，found that the result of dssm's ndcg, map metrics are less than  matchzoo's  tutorials obviously. Is there a problem ？

###
dataset : wiki
environment:  python3.6

`my result:
Validation: normalized_discounted_cumulative_gain@3(0.0): **0.18537827976306148** - normalized_discounted_cumulative_gain@5(0.0): **0.20825197021237893** - precision@1(0.0): 0.1216

[2019-04-28 10:19] uduse commented on #731
You offer no clue, so I have no clue.

[2019-04-28 11:51] wang7liang opened #732 "请问在2.1版本中，如何调整学习率"
我在使用ConvKNRM模型，发现训练的时候，loss一直不收敛。想调整一下学习率，请问在哪里可以调整学习率。
部分代码如下：
    model = mz.models.ConvKNRM()
    model.params['task'] = ranking_task
    model.params.update(preprocessor.context)
    model.params['embedding_output_dim'] = 100
    model.params['embedding_trainable'] = True
    model.params['filters'] = 128
    model.params['conv_activation_func'] = 'relu'
    model.params['max_ngram'] = 3
    m

[2019-04-29 04:55] uduse commented on #732
`model.params['optimizer'] = keras.optimizers.Adam(lr=0.001)`

[2019-04-29 08:53] wang7liang commented on #732
谢谢，解决了问题。

[2019-04-29 08:53] #732 closed

[2019-05-03 10:50] #656 closed

[2019-05-03 13:49] ZizhenWang opened #734 "implement keras version BERT as a mz.model"
[Bert](https://arxiv.org/abs/1810.04805) is a successful NLP pre-train model, and achieves many SOTA benchmarks. It has a widely used [tensorflow](https://github.com/google-research/bert) and [pytorch](https://github.com/huggingface/pytorch-pretrained-BERT) implementation, but not a reliable **Keras** one (even there are many released keras-bert packages, they all exist many bugs and lack of maint

[2019-05-05 03:13] presimple commented on #726
Hi, I found this when I tried to use specific learning rate to train my model. Or could you give a better way to specify a customized learning rate with the optimizer while using matchzoo?

[2019-05-05 08:42] uduse commented on #726
@presimple
If you want a quick solution:
1. add an additional parameter `learning_rate` in `model.params` and modify `model.build` so it takes that parameter into account
2. add an additional parameter `learning_rate` in `model.params` and add additional logic to read that parameter and compile a loaded model.

A better solution, but takes longer:
Matchzoo handles optimizer serialization different

[2019-05-05 11:52] uduse commented on #726
@presimple found a much better workaround in #735

[2019-05-06 02:45] rajicon opened #736 "DSSM and data balance"
I have  a matching problem with two sets of documents.  In order to train a DSSM model, I created a dataset that takes each document pair  that matches, and 5 negative samples (random pairs) per pair.  This is then split into a training and test set. I then used the Classifier task.

When testing the model on the test set, it perform well, better than TF-IDF:

 method | precision | recall  | fscor

[2019-05-07 08:36] wang7liang opened #737 "loss:inf 问题"
你好，我发现，当使用如下任务时
ranking_task = mz.tasks.Ranking(loss=mz.losses.RankCrossEntropyLoss(num_neg=2))
preprocessor = mz.preprocessors.BasicPreprocessor(fixed_length_left=100, fixed_length_right=100)

BasicPreprocessor中当fixed_length_left与fixed_length_right超过50左右，训练时loss就不收敛了，请问调什么参数能避免这个问题那

 1/94 [..............................] - ETA: 4:12 - loss: inf
 2/94 [..............................] - ETA: 2:18

[2019-05-07 11:15] uduse commented on #737
Try increasing the number of epochs.

[2019-05-07 11:20] wang7liang commented on #737
loss already nan at first step of first epoch. increasing the number of epochs looks useless.
1/94 [..............................] - ETA: 4:12 - loss: inf
2/94 [..............................] - ETA: 2:18 - loss: nan
3/94 [..............................] - ETA: 1:40 - loss: nan
4/94 [>.............................] - ETA: 1:21 - loss: nan

[2019-05-07 11:39] bwanglzu commented on #737
[Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization: coursera](https://www.coursera.org/learn/deep-neural-network)

[2019-05-08 20:48] yifannieudem opened #738 "Possibility to wrap my own data (already transformed into indices)"
### Describe the Question
Please provide a clear and concise description of what the question is.
Hi, I have my own datasets and want to use match zoo to perform some benchmark. My data is not under text format and is already transformed into indices like [326,148, 455, 236, 0, 0, 0] according to my dictionary (term to index mapping). I also have a pre-trained embedding according to this dictionar

[2019-05-09 04:32] ericinf opened #739 "How to load several training data packs iteratively (not all combined in one data pack)"
### Describe the Question
Please provide a clear and concise description of what the question is.
I have pretty huge training data packages (each of several GBs, totally ~100GB) which could not be combined into 1 DataPack and loaded into memory. Is it possible to pack N small DataPacks for train and load  and feed them iteratively to the model during training? Can I just write a for loop to load t

[2019-05-09 08:08] bwanglzu commented on #738
hi @yifannieudem
![image](https://user-images.githubusercontent.com/9794489/57437575-591d2100-7242-11e9-8aa7-b92d48bb9a92.png)

see [data handling](https://github.com/NTMC-Community/MatchZoo/blob/master/tutorials/data_handling.ipynb)

[2019-05-09 10:55] bwanglzu commented on #739
I guess the best solution is to implement a generator which cloud `flow_from_directory` like Keras [ImageDataGenerator](https://keras.io/preprocessing/image/#imagedatagenerator-class), but uncortuantelly we do not have it.

[2019-05-09 11:06] bwanglzu commented on #739
take a look at [Dask](https://dask.org/)

[2019-05-09 20:12] yifannieudem commented on #738
Thanks  a lot for your reply. I have another question about how to use my pertained embeddings. I have this indexed indices to represent my texts, but I also have my own term_to_index mapping and the corresponding pre-trained embedding matrix where line k corresponds to the embedding vector or term whose index is k in the term2index mapping. I read through this data handling tutorial but the term2

[2019-05-09 21:20] voladorlu opened #740 "Input Format for DRMM"
Hi, can anybody help me on the input format of DRMM? Based on the given tutorial, the cross entropy loss function needs sample negative instances. What if the input data already includes the negative samples (i.e. labeled as 0, positive one labeled as 1)? The negative sampling method will do negative sampling for every instance in the training data (including the negative one labeled as 0)?

[2019-05-10 07:58] bwanglzu commented on #738
Hi, you mentioned it's only accept word2vec or glove: no, as long as your embedding format is the same as word2vec or glove it's fine.

Look at [word2vec](https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/datasets/embeddings/embed_10_glove.txt), the format is the same as you mentioned above: 38 embedding_vector_for_term_38, this means you can do:

[code]

Besides, if you want to free

[2019-05-10 08:45] Crysitna commented on #740
if i get your question right:
1. the negative sampling can only happen if the negative samples are included in the input otherwise there is nowhere to sample from (see [here](https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/data_generator/data_generator.py#L290))
2. yes, it would do negative sampling for each positive data for _num_dup_ times (see [here](https://github.com/NTMC-Comm

[2019-05-10 14:22] voladorlu commented on #740
@Crysitna  Thank you so much for your clarification. It really helps me a lot. -:)

[2019-05-10 14:27] voladorlu commented on #740
One more question. I note that the default batch_size for DRMM is somehow small (suggested as 20). Will a relative larger batch size (e.g. 128, 256) have negative influence on the model performance?

[2019-05-10 21:11] yifannieudem commented on #738
Thanks a lot. I have another question, I saw in the examples that the preproceeesed train data by BasicPreprocessor not only has "id_left", "id_right". "text_left", "text_right" (which is shown in your example in your screenshot) but also includes "length_left", "length_right" attributes. Are those 2 lens necessary for directly using the packed data for training? In order for the model to use my d

[2019-05-11 03:36] ericinf commented on #739
Hi,
Thanks a lot. I think modifying the DataGenerator might take some time and might result in some bugs :). We just want to quickly run this DRMM as a baseline on our data. I come up with an idea, is there a functionality of resuming training? I.e. I first load the first DataPack and train (setting epoch=1), at the end I save the model to /path_to_model and then I load the 2nd DataPack and load t

[2019-05-12 14:11] uduse commented on #739
@ericinf `model.fit` preserves model parameters, so as long as there's no global information needed for preprocessing, you could train on data packs one by one.

e.g.
[code]

[2019-05-27 04:09] Decalogue opened #743 "input_dpool_index for match_pyramid"
Hi!
How to build input_dpool_index for match_pyramid?
Thanks

inputs = [input_left, input_right, input_dpool_index]

[2019-05-27 08:54] bwanglzu commented on #736
Hi @rajicon , you model was trained and evaluated on both training and validation set, is that correct?

During your training, they should bring roughly same level of performance, I don't undetsand:

1. After training, why you evaluate the model on original training set again?
2. If the dataset are the same, the results should be same as well, since evaluation metrics were independent from the mod

[2019-05-27 08:58] bwanglzu commented on #738
hi @yifannieudem `length_left` and `length_right` will be automatically appended to data pack if you use our pre-defined preprocessor, such as [BasicPreprocoessor](https://github.com/NTMC-Community/MatchZoo/blob/2547f9d1b302d0f166508ba39fa659dfa210a276/matchzoo/preprocessors/basic_preprocessor.py#L133)

[2019-05-31 10:26] Decalogue commented on #743
Thank you so much!

[2019-05-31 16:24] datistiquo opened #745 "to delete"

[2019-05-31 16:27] datistiquo opened #746 "How to use fasttext (subwords) vectors in tensorflow embedding layer?"
Hey,

I just struggle to find out how can I use Fasttext wordvectors for OOV word (in general) in a keras/tensorflow embedding layer. There is nothing out there. Maybe someone has thought of that too and has some hints for me?

The way via word embedding look up works via indices like
tf.nn.embedding_lookup(word_embeddings, x1)

And you could have an index for one OOV. But how can I assign a speci

[2019-05-31 16:28] #745 closed

[2019-06-02 03:47] pl8787 commented on #743
You can reference the code [dynamic_pooling.py](https://github.com/NTMC-Community/MatchZoo/blob/master/matchzoo/data_generator/callbacks/dynamic_pooling.py).

[2019-06-06 09:21] ljch2018 opened #747 "How to run tutorials? Where to download toy data?"
I cannot find any url or command to download the toy data ? Please show me how to download  them. Thank you very much.

[2019-06-07 07:58] bwanglzu commented on #747
[code]

[2019-06-07 08:01] bwanglzu commented on #746
I have 0 experience with fasttest, maybe others can help.

[2019-06-07 08:02] bwanglzu commented on #727
@uduse @faneshion take a look?

[2019-06-07 08:48] datistiquo commented on #746
@bwanglzu It has nothing to do with Fasttext! It is about manipulating/customisising word vectors by conditions! If you encounter an OOV word during prediction, how can you assign a specific vector to this this specific word (ie. you check the word for knwon subwords by your own method or using just fasttext...)

[2019-06-07 09:13] bwanglzu commented on #746
@datistiquo take a look at `Vocabulary` class [here](https://github.com/NTMC-Community/MatchZoo/blob/2547f9d1b302d0f166508ba39fa659dfa210a276/matchzoo/preprocessors/units/vocabulary.py#L30).

btw, we're **volunteers** to maintain the **open source** project, you're not my customer.  Please ask your questioon in a modest way.

[2019-06-07 09:14] datistiquo opened #748 "Rank Hinge Loss with number of negatives Question"
Hey,

I have a question for my understanding. How do I need to structure my data for using a pairwise or listwise approach?  If I have just relevant/irrelevant documents (1 or 0) then I assume that the number of negatives for the loss is just the number for the negatives examples (0). https://github.com/NTMC-Community/MatchZoo/blob/2.2-dev/matchzoo/losses/rank_hinge_loss.py
And I assume that the o

[2019-06-09 13:58] faneshion commented on #748
Yes, the pairwise data structure is what you described.  Typically, we assign only one negative document for each positive document, where the loss is calculated with `max(0, 1-s(q, d_pos) + s(q, d_neg)`. In fact, we can also assign several negative documents (e.g., a subset of sampled negative documents) for each positive document, in this way, we can calculate the crossentropy loss, i.e., `\frac

[2019-06-11 10:32] hrdxwandg opened #749 "how to use multiple gpus？"
when i use predefined model from matchzoo, eg DSSM，how can i use multiply GPUs？how can i use the API : keras.utils.multi_gpu_utils.multi_gpu_model

[2019-06-11 13:07] Ivan-Ji opened #750 "Which paper does the model ‘dense_baseline’ come from?"
### Describe the Question
Please provide a clear and concise description of what the question is.

### Describe your attempts
- [ ] I walked through the tutorials
- [ ] I checked the documentation
- [ ] I checked to make sure that this is not a duplicate question

You may also provide a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) you tried as a workaround, or S

[2019-06-11 14:13] uduse commented on #750
It's a stupid model without any deliberate design.

[2019-06-11 14:16] uduse commented on #749
Please consult keras documentation/forum/stackoverflow for keras related questions.

[2019-06-12 01:50] Ivan-Ji commented on #750
And what about the model 'Naive'?

[2019-06-12 01:51] Ivan-Ji commented on #750
And what about the model 'Naive'?

[2019-06-12 02:33] Ivan-Ji commented on #750
And what about the model 'Naive'?

[2019-06-12 04:36] hrdxwandg commented on #749
emm...
ok, solved

[2019-06-12 09:54] bwanglzu commented on #750
@Ivan-Ji Same as `dense_baseline`.

[2019-06-12 09:54] #749 closed

[2019-06-12 12:02] mikelam14 opened #751 "Pair DataGenerator results in array of size (1,)"
### Describe the Question
I have prepared my own dataframes for left, right, relation. For left and right there are columns text_{left/right}, length_{left/right}, the index is id_{left/right}. All text is already converted into index and is truncated/padded to length=200. When I use the DataGenerator by `dev_generator = mz.DataGenerator(
    dev_processed,
    mode='pair',
    num_dup=1,
    num_

[2019-06-14 07:35] bwanglzu commented on #751
@mikelam14 can you impute/remove the missing value and try again?

[2019-06-14 17:29] mikelam14 commented on #751
The three dataframes (left, right, relation) has no missing values. Index of left and right, ids in relation are all integers. I group the data by `mz.DataPack(relation=rel, left=req, right=adv)`. However pack.frame() would result in some nans. This affects unpack for sure. I suspect it also affects the reset_index in data_generator. If I change the indices to string, frame() would not work, sayin

[2019-06-14 17:31] mikelam14 opened #752 "use_multiprocessing and save_model from callback"
### Describe the Question
I am using the EvaluateAllMetrics callback, and fit_generator to evaluate at epoch end. The model_save_path works fine if i use 1 worker and use_multiprocessing=False. How do I enable multiprocessing while saving model weights? Thank you
`evaluate = mz.callbacks.EvaluateAllMetrics(
    model, x=pred_x, y=pred_y, batch_size=20,
    model_save_path='runs/exp')`

### Describ

[2019-06-17 15:04] uduse commented on #752
The saving mechanism in the callback was not implemented with concurrency in mind. What exactly is the problem you're having right now? If you are referring to simultaneous writing to the same path, then currently there's no way to avoid that.

[2019-06-17 15:10] uduse commented on #751
Could you provide a minimum working example that reproduces the bug so I can further investigate? Right now I suspect that you have mismatched indices somewhere but I can't be sure. Try calling `pack` your data without feeding indices so `pack` generates the correct ones for you.

[2019-06-17 15:13] #750 closed

[2019-06-19 08:16] napianlin commented on #747
How to run tutorials?  python3.6/site-packages/matchzoo/datasets/toy/train.csv' does not exist

[2019-06-19 17:33] cmacdonald opened #753 "AttributeError: 'RankCrossEntropyLoss' object has no attribute '__name__' for Keras model save"
### Describe the bug
I wanted to try to save the Keras "backend" model. But `model.backend.save("dssm.keras.model.h5")` didnt work:

AttributeError: 'RankCrossEntropyLoss' object has no attribute '__name__'

### To Reproduce
See gist at https://gist.github.com/cmacdonald/8d86d433c3ca154f746b9864cc2b91de

### Describe your attempts
- [X] I checked the documentation and found no answer
- [X] I check

[2019-06-20 03:49] YuanEric88 opened #754 "Does MatchZoo work for Chinese dataset?"
### Describe the Question
Do this framework work for Chinese data set and relevant task, like Chinese sentence semantic text similarity?

### Describe your attempts
- [ ] I walked through the tutorials
- [ ] I checked the documentation
- [ ] I checked to make sure that this is not a duplicate question

You may also provide a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/hel

[2019-06-20 04:47] loveJasmine opened #755 "is there an full example on how to do classification on quora like dataset"
### Describe the Question
Please provide a clear and concise description of what the question is.

### Describe your attempts
- [ ] I walked through the tutorials
- [ ] I checked the documentation
- [ ] I checked to make sure that this is not a duplicate question

You may also provide a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) you tried as a workaround, or S

[2019-06-20 06:58] wbj0110 opened #756 "how to predict on unknown query"
### Describe the Question
Please provide a clear and concise description of what the question is.

### Describe your attempts
- [x] I walked through the tutorials
- [ ] I checked the documentation
- [ ] I checked to make sure that this is not a duplicate question

You may also provide a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) you tried as a workaround, or S

[2019-06-20 07:00] wbj0110 opened #757 "how to predict on unknown query with question answering"
I use DRRM model,how to predict on unkonwn query,
eg,give one query,predict top k answering.

thanks

[2019-06-20 07:01] wbj0110 commented on #757
Could you give some example code,thanks

[2019-06-20 07:05] wbj0110 commented on #318
@hkvision Could you help me,I have the same question,give one query,and return top k documents,Could you show your code for me,Thanks very much

[2019-06-20 14:37] uduse commented on #755
Did you try your wikiqa example? It's pretty much the same process, just switch your dataset.

[2019-06-20 14:41] uduse commented on #756
How's the tutorial not enough? Is there any specific problem you're having?

[2019-06-20 14:42] uduse commented on #754
#656 #163 #185

[2019-06-20 14:52] uduse commented on #747
Make sure you have the latest version of matchzoo installed (or pull it from the github), all the toy data should be included.

[2019-06-20 15:31] uduse commented on #753
I confirmed it's a bug. On the keras side, using a customized loss only requires the loss to be callable but saving it requires its `__name__` field (the keras dev was being careless, assuming all callables are functions), which matchzoo losses don't have since matchzoo losses are callable class instances instead of functions or methods. Matchzoo losses are class instances instead of fixed functio

[2019-06-20 15:58] cmacdonald commented on #753
Thanks. I confirm that the band-aid works.

[2019-06-21 07:33] #753 closed

[2019-06-21 08:17] bwanglzu opened #758 "Classificationo task raise bug when sorting"
![image](https://user-images.githubusercontent.com/9794489/59908414-a083f900-940d-11e9-921e-db824ba3b876.png)

I'll upload a notebook later.

[2019-06-21 08:22] bwanglzu commented on #758
[code]

[code]

    Downloading data from https://firebasestorage.googleapis.com/v0/b/mtl-sentence-representations.appspot.com/o/data%2FQQP.zip?alt=media&token=700c6acf-160d-4d89-81d1-de4191d02cb5
    60538880/60534884 [==============================] - 102s 2us/step

    b'Skipping line 83032: expected 6 fields, saw 7\n'
    b'Skipping line 154657: expected 6 fields, saw 7\n'
    b'Skipping line

[2019-06-21 15:23] uduse commented on #758
It's more like a pandas usage question. pandas's `sort_values` can't sort numpy arrays, that's why.

To fix that, create a helper column:
[code]

[2019-06-24 01:53] Ivan-Ji opened #760 "How to get the evaluation index of each query"
### Describe the Question
In the code, the final evaluation is only the overall evaluation, not the evaluation of each query. So how do I get the evaluations of each query in DSSM?

[2019-06-24 16:11] seifer08ms commented on #747
It works in Python command line,  but not Jupyter notebook.

[2019-06-24 16:38] uduse commented on #747
@seifer08ms make sure you set your notebook kernel correctly.

[2019-06-24 21:01] mikelam14 commented on #752
So is there a way to run the training in parallel and save weights after each epoch, maybe with another callback?

[2019-07-02 10:02] LorraineLo4 opened #762 "No data provided for "match_histogram". Need data for each key in: ['text_left', 'match_histogram']"
I came across issue below when running DRMM:

**No data provided for "match_histogram". Need data for each key in: ['text_left', 'match_histogram']**

**data used:** mz.datasets.wiki_qa.load_data('train', task='ranking')
**processor:** preprocessor = mz.preprocessors.BasicPreprocessor(fixed_length_left=10, fixed_length_right=100, remove_stop_words=False)

Where is the match_histogram in the code??

[2019-07-03 16:09] #762 closed

[2019-07-04 19:32] aizest opened #763 "Problems in using DSSMPreprocessor and RankHingeLoss"
### Describe the Question
When I use **DSSMPreprocessor** and **RankHingeLoss** to train the DSSM model on my data, I always get "KeyError" in the model.fit_generator() function.

### Describe your attempts
- [x] I walked through the tutorials
- [x] I checked the documentation
- [x] I checked to make sure that this is not a duplicate question

MY MZ version is 2.1.0.

Here are my code snippet and

[2019-07-05 04:16] uduse commented on #763
`
train_generator = mz.DataGenerator(train_processed_dp, num_dup=1, num_neg=4, batch_size=64, shuffle=True)
`
I guess the problem is that you are using `DataGenerator` instead of `PairDataGenerator` (which is the correct thing to do since `PairDataGenerator` is deprecated), but forget setting the `mode` to `pair`.

To fix it:
`
train_generator = mz.DataGenerator(train_processed_dp, mode='pair', nu

[2019-07-07 20:08] aizest commented on #763
Thanks! The suggestion makes sense. It's very helpful, but is not enough for this problem.

I finally solved it by adding a "new_relation.dropna(inplace=True)" at the end of (but before return) the "_reorganize_pair_wise" function of "data_generator.py".
For some reason, the operations inside the _reorganize_pair_wise function may produce some NA rows, which lead to the issues above.
So, I think i

[2019-07-08 02:31] Ivan-Ji commented on #760
Not the overall index of retrieval

[2019-07-09 09:05] gouxute commented on #203
@bwanglzu  @voladorlu  i have got this error too.

[2019-07-09 09:25] bwanglzu commented on #203
@voladorlu @gouxute This one works for you? https://github.com/NTMC-Community/MatchZoo/blob/master/tutorials/wikiqa/matchpyramid.ipynb

[2019-07-09 10:30] MathildaSu opened #764 "Preprocessor.fit_transform does not initialise preprocessor.context"
### Describe the bug
When calling
`preprocessor = mz.preprocessors.DSSMPreprocessor()
train_processed = preprocessor.fit_transform(train_pack)`
the preprocessor does not automatically initialise preprocessor.context like when calling

`train_processed = preprocessor.fit(train_pack)`

### To Reproduce
`
import matchzoo as mz

import pandas as pd
path = "/results/DPH_3.res" #any file
table = pd.read

[2019-07-09 13:41] MathildaSu commented on #633
Hi, I ran into the same issue. I just installed the newest version. and
[code]

Got following errors:
[code]
system: Ubuntu
Hardware: CPU only
MAtchzoo version: 2.1.0

[2019-07-09 13:46] voladorlu commented on #203
@bwanglzu  Thanks so much. I already found this few months ago. However, it's very strange that there exists a strange gap in both performance and efficiency when using different training loss e.g. MSE, HingeLoss, CrossEntropy. I exactly follow the tutorial notebook. When using pairwise loss, massive number of time will be spent on building training pairs. Moreover, the training loss also goes dow

[2019-07-09 13:58] faneshion commented on #203
Are you working on the ranking task or the classification task? The pairwise loss only fits for the ranking task. It indeed takes time to construct pairs if your data contains a number of positive documents for each query.

[2019-07-09 14:10] MathildaSu commented on #633
NVM I figured out. Because `losses = RankCrossEntropyLoss` needs pair-wise data.

[2019-07-09 18:14] #633 closed

[2019-07-10 17:41] uduse commented on #764
Since I don't have your data, I tested it with our toy data. I could not reproduce the bug you are reporting.

Here's the thing I tried:

[code]

[2019-07-11 06:16] uduse commented on #763
I have no idea why it produces na values since I don't have your data and I can't reproduce it.

[2019-07-11 16:13] aizest commented on #763
Need more debug to find the reason, but adding a "new_relation.dropna(inplace=True)" did solve the problem. Hope this can help other users who face similar issues. Thanks again for paying attention to this ticket.

[2019-07-11 16:14] aizest commented on #763
I think this ticket can be closed now

[2019-07-11 16:14] #763 closed

[2019-07-12 02:36] uduse commented on #747
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:36] #747 closed

[2019-07-12 02:37] uduse commented on #598
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:37] #598 closed

[2019-07-12 02:38] uduse commented on #615
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:38] #615 closed

[2019-07-12 02:43] uduse commented on #726
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:43] #726 closed

[2019-07-12 02:43] uduse commented on #731
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:43] #731 closed

[2019-07-12 02:43] uduse commented on #715
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:43] #715 closed

[2019-07-12 02:43] uduse commented on #654
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:43] #654 closed

[2019-07-12 02:43] uduse commented on #641
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-07-12 02:43] #641 closed

[2019-07-16 09:07] jibrilfrej opened #767 "Matchpyramid not working for some text lengths"
### Describe the bug
MatchPyramid does not work for some text lengths: if I set the preprocessor fixed_length_left and fixed_length_right parameters to some values: the model crashes.

I have mz version 2.1.0

I did not have this issue with the other models I tried ("ArcII", "KNRM", "DUET", "DRMMTKS")

### To Reproduce
[code]

### Describe your attempts
- I tried other values for fixed_length_left

[2019-07-16 15:04] uduse commented on #767
Thanks for the snippet, it correctly reproduces the bug. I gave a quick look but it seems the bug's not that obvious and I need more time for investigation.

[2019-07-17 16:53] uduse commented on #767
Fixed in #768

[2019-07-17 17:25] jibrilfrej commented on #767
Thanks !!

[2019-07-17 17:26] #767 closed

[2019-07-23 08:56] Sjzwind commented on #710
there is no any tutorials about classification until today， three months has gone

[2019-07-23 13:47] bwanglzu opened #769 "PuncRemoval unit not working as expected"
See screenshot, need to refactor with `string.translate`:

![image](https://user-images.githubusercontent.com/9794489/61717300-19ee6e80-ad61-11e9-960f-3594008228c5.png)

[2019-07-30 09:37] lis-kp opened #771 "how to save the model on each epoch?"
hi, I want to save the model on each epoch. I tried:

evaluate = mz.callbacks.EvaluateAllMetrics(model, x=valid_x, y=valid_y, batch_size=16, once_every=1, model_save_path='path_to_model')

but I get the following error :
TypeError: can't pickle SwigPyObject objects

Does anyone have an idea on how to solve this?
thanks a lot!

[2019-07-30 10:18] bwanglzu commented on #771
guess you want to use [this](https://datascience.stackexchange.com/questions/28210/keras-callback-example-for-saving-a-model-after-every-epoch) callbacl and train your model with `fit_generator(...., callbacks = [evaluate_callback, save_model_on_epoch_callback], ...)`

[2019-08-02 18:17] jibrilfrej opened #772 "RankCrossEntropyLoss produces NAN"
### Describe the bug
RankCrossEntropyLoss produces NAN on some models (at least DUET and DRMMTKS)

It does not happen all the time: sometimes the model train without problems and other times the loss becomes nan after a few epoch.

I do not have this problem with the RankHingeLoss but the performance of the models is is bad compared to the RankCrossEntropyLoss (when it does not fail)

The problem

[2019-08-03 01:24] guotong1988 opened #773 "For text match problem, what is the different between question-question match and question-answer match?"
I know question-question match is a text similarity problem.
What about question-answer match or question-doc match? It is used in information retrieval.
question-question match is indeed text similarity. But how do you define question-answer similarity?
Thank you!!

[2019-08-04 16:46] datistiquo opened #774 "Strange behavior for my own data - is it overfitting?"
Hey!

I don't know if my issue is due to overfitting because I have less data of around 20 000 training samples. I do IR with just single sentences (if they match). So for a query I will test it against all documents I have. I hope I can get any advices before I will test my data with the arc models. Up to now I use a CNN siamese Network  (representation based) with a dropout layer at the end. Thi

[2019-08-05 03:55] guotong1988 opened #775 "What is the most popular loss for doc ranking and What is the most popular loss for text similarity?"
Based on my understanding, both the doc ranking task and text similarity task take sentence pairs as model input. We use different loss to get better result for each of them.
Thank you very much.

[2019-08-05 04:53] uduse commented on #774
I think this is normal. When you have testing data that completely out of the scope of your training data, the behavior of your network is pretty much random.

[2019-08-05 06:39] jibrilfrej commented on #772
Solved by adding an epsilon to the log in the cross-entropy loss:

(/losses/rank_cross_entropy_loss.py line 51)

Original :
return -K.mean(K.sum(labels * K.log(K.softmax(logits)), axis=-1))

New:
return -K.mean(K.sum(labels * K.log(K.softmax(logits) + np.finfo(float).eps ), axis=-1))

[2019-08-05 06:39] #772 closed

[2019-08-05 09:28] datistiquo commented on #774
Yes, but why the behavior for an empty string? I don't actually know why this even gives a result since one side of the siamese network has no word vector or anything? So even for a perfectly trained model with no overfitting with arc you get such strange results for an empty question?

[2019-08-05 16:08] uduse commented on #772
Seems a reasonable fix. Would you mind PR this change?

[2019-08-05 16:18] uduse commented on #774
Think about it this way: your network starts with full confidence but whenever it seems something dubious, it decreases its confidence. You did not provide "nothing is provided" as a dubious scenario (i.e. training sample with an empty string), then it says there's "nothing wrong about it".

Simple answer: you can't. The unknown area (not covered by training samples) is so large that anything can

[2019-08-05 17:31] datistiquo commented on #774
Thanks but I did not know that:

Why it doesn't start with zero confidence? isn't that model actually really stupid if it starts with full confidence? Is that for all matchzoo models?

I thought it learns pattern when something matches. So for a unknown word vector which has no similarity with any doc should give low confidence. That was my intuition...

Would this actually also the case if I use

[2019-08-05 18:25] jibrilfrej commented on #772
I just did it (pull request #776)

[2019-08-06 06:41] uduse commented on #774
It's just a way of explaining why this happens. The point is that your network could behave randomly on out of scope data, and there's no way you can predict that. However, given its seemingly random behavior on a specific datum, there's maybe a way to explain it. That's why the amount of data is important. The more you get, the more predictable your model is.

I don't understand this part.

[2019-08-06 09:38] datistiquo commented on #774
So you really say that it is not possible even for perfectly trained model with generalization to handle out of scope data with low confidence?

So I should of course add some "dubious data" as negative examples?

For eg 3 topics and for a sentence not related to any oif those 3 topics wouldn't this give low confidence?

[2019-08-06 09:48] lis-kp opened #777 "how to use soft-labels on ranking task?"
hi, I wonder if it is possible to use probability values on the label columns when using dssm model for ranking. for example, instead of having something like [1,0,0,0,0], I would have [0.4, 0.1, 0.2, 0.25, 0.25 ].

thanks.

[2019-08-06 12:57] uduse commented on #772
Great job! I approved it and soon it will be merged.

[2019-08-06 13:52] uduse commented on #774
"perfectly trained" is relative to your training data, and "generalization" is relative to your test data. They are both "known" to some extent. Once you cover some of the unknown with dubious data, then that part of the unknown is now known but the others left unknown unless you can cover all types of unknown data, which is usually impossible in NLP.

[2019-08-06 18:22] datistiquo commented on #774
Sorry for bothering you with this "out of scope" subject.

Are your statements true for any Deep Learning IR model (high confidence for not related queries)?

I hoped that my model will learn some patterns to give low confidence like a query below:

is trained and works

But now I recognize that just for  the query with the word

it has very high confidence with random several docs where also the

[2019-08-07 01:10] uduse commented on #774
Then yes, it's overfitting. If your data that contain the word "need" are all positive or share some other kind of statistical feature, then it is perfectly normal for your network to judge purely on the existence of the word "need".

[2019-08-07 07:53] guotong1988 opened #778 "How to prepare triple or negative doc for doc ranking problem?"
A triple in doc ranking problem are (query, positive_doc, negative_doc)

If I already have query-positive_doc pairs data, how do I prepare the negative doc data?

Random is the baseline policy.

With human in loop, I can use BM25 for the candidate docs and then label each of them.

I prefer do it without human.

Thank you very much.

[2019-08-08 01:23] #642 closed

[2019-08-08 01:24] uduse commented on #652
I am sorry that this is ignored. Do you still have the same question?

[2019-08-08 01:24] #652 closed

[2019-08-08 01:24] #671 closed

[2019-08-08 01:24] #674 closed

[2019-08-08 01:25] #714 closed

[2019-08-08 01:25] #706 closed

[2019-08-08 01:26] #720 closed

[2019-08-08 01:26] #734 closed

[2019-08-08 01:26] #737 closed

[2019-08-08 01:26] #728 closed

[2019-08-08 01:26] #717 closed

[2019-08-08 01:27] #440 closed

[2019-08-08 01:27] #574 closed

[2019-08-08 01:27] #6 closed

[2019-08-08 01:27] #183 closed

[2019-08-08 01:28] uduse commented on #739
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:28] #739 closed

[2019-08-08 01:28] uduse commented on #736
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:28] #736 closed

[2019-08-08 01:28] uduse commented on #738
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:28] #738 closed

[2019-08-08 01:28] uduse commented on #740
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:28] #740 closed

[2019-08-08 01:28] uduse commented on #743
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:28] #743 closed

[2019-08-08 01:29] uduse commented on #746
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:29] #746 closed

[2019-08-08 01:29] uduse commented on #748
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:29] #748 closed

[2019-08-08 01:29] uduse commented on #751
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:29] #751 closed

[2019-08-08 01:30] uduse commented on #757
Closing this because the author provided too little information.

[2019-08-08 01:30] #757 closed

[2019-08-08 01:30] uduse commented on #755
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:30] #755 closed

[2019-08-08 01:32] uduse commented on #727
@faneshion This might still worth investigating.

[2019-08-08 01:32] #756 closed

[2019-08-08 01:32] #754 closed

[2019-08-08 01:32] uduse commented on #754
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:33] uduse commented on #758
I hope things are working well for you now. I’ll go ahead and close this issue, but I’m happy to continue further discussion whenever needed.

[2019-08-08 01:33] #758 closed

[2019-08-08 08:47] lis-kp opened #780 "how to set the smoothing factor on the softmax function on dssm?"
hi, i wonder if it is possible to set the smoothing factor on the softmax function, according to the  Equation 6 in the dssm paper: https://posenhuang.github.io/papers/cikm2013_DSSM_fullversion.pdf

thanks!

[2019-08-08 10:13] uduse commented on #780
It's not implemented and I don't think we have a plan to do it in the future.

[2019-08-09 15:36] #774 closed

[2019-08-14 03:36] faneshion commented on #777
Right now, we treat all labels as an integer, which is the case of usual ranking or classification task. Could you please tell us in which case you would use the float label?

[2019-08-14 03:39] faneshion commented on #778
Random is the usual case though it will produce weak negative docs. If you already have the positive docs, you can use existing models to retrieve the docs not in the positive set as the negative doc.

[2019-08-14 03:40] faneshion commented on #775
For ranking, hinge loss and cross-entropy loss are the most popular ones. You can try these.

[2019-08-14 03:42] faneshion commented on #773
You can refer to the our paper "A Deep Look into Neural Ranking Models for
Information Retrieval" to get more discussion about different matching tasks.

[2019-08-14 03:51] lis-kp commented on #777
using soft labels can lead to better model generalization, so I was wondering if it would be possible to use them in matchzoo.

[2019-08-14 04:06] andglf commented on #771
@lis-kp 我也遇到了同样的问题，请问您找到问题所在和解决方法了吗？

[2019-08-14 05:10] uduse commented on #771
Please provide more related information, preferably a code snippet that can reproduce the bug, so I can work on it.

[2019-08-14 05:51] lis-kp commented on #771
I am trying to save dssm model using:

train_generator = mz.PairDataGenerator(train_processed, num_dup=1, num_neg=40, batch_size=32, shuffle=False)
valid_x, valid_y = valid_processed.unpack()
evaluate = mz.callbacks.EvaluateAllMetrics(model, x=valid_x, y=valid_y, batch_size=32, once_every=1,model_save_path='./model/')
history = model.fit_generator(train_generator, epochs=30, callbacks=[evaluate])

[2019-08-14 07:12] andglf commented on #771
I know where my problem is.
My optimizer uses the Keras method, which is used as follows:
[code]
@lis-kp are you a similar situation?

[2019-08-14 07:21] uduse commented on #771
https://github.com/NTMC-Community/MatchZoo/issues/726

On the top of your file, call `matchzoo.utils.make_keras_optimizer_picklable()`.

Next time please submit your code together with your problem. This is a known and fixed issue. If I have known you used a customized optimizer, this could be solved in seconds.

[2019-08-14 07:21] #771 closed

[2019-08-14 07:38] andglf commented on #771
I tried `matchzoo.utils.make_keras_optimizer_picklable()`,but didn't succeed.
Error message:
[code]
My version is 2.1.0, is my version too low?

[2019-08-14 08:19] lis-kp commented on #771
I get the same error: AttributeError: module 'matchzoo.utils' has no attribute 'make_keras_optimizer_picklable'

[2019-08-14 08:39] andglf commented on #771
This is the problem of the version, the update to `2.2-dev` branch will be solved.
@lis-kp

[2019-08-14 08:39] #778 closed

[2019-08-14 08:40] #775 closed

[2019-08-14 08:41] #773 closed

[2019-08-14 08:42] lis-kp commented on #771
oh, ok, thanks!

[2019-08-21 07:03] borhan-kazimipour opened #781 "pip does not copy data files into '/usr/local/lib/python3/site-packages/matchzoo/datasets"
### Describe the bug
`pip install amtchzoo` does not copy data files such as `train.csv` into '/usr/local/lib/python3/site-packages/matchzoo/datasets/toy`.

### To Reproduce
Do the following to install matchzoo

pip install tensorflow
pip install matchzoo

Then in Python:
import matchzoo as mz
mz.datasets.toy.load_data(stage='train', task=mz.tasks.Ranking())

This produce:
[code]
This `mz.datasets

[2019-08-22 10:48] uduse commented on #781
It sounds like you tried the github version and it worked fine.

@faneshion This might be a packaging issue?

[2019-08-22 23:21] borhan-kazimipour commented on #781
I guess it's a packaging issue. If I copy data files from GitHub to where MatchZoo expect them to be, it works fine.

[2019-08-23 04:49] faneshion commented on #781
Thanks @borhan-kazimipour , I will check it~

[2019-08-28 08:11] fakekphan commented on #82
how to integrate ELMo embedding into MatchZoo?

[2019-08-28 14:55] ctrado18 opened #782 "When to expect tutorial for anmm model and listwise loss?"
Hi,

I just want to know If you can expect a tutorial in wikiqa for the anmm model like for the others to? Otherwise, It is a bit too hacky to implement this by myself.

Also, is it right now possible to use a listwise loss like the pairwise loss with any model?
I want to train some of the model in the tutorial like arci for a listwise loss. Is this possible right now?
I want to mark relevant, and

[2019-08-28 15:03] ctrado18 opened #783 "What is the right model for my specific use case?"
I need a model for text matching IR (QA). I just have short sentences but less data (about 20 000 examples).
Up to now I tried a deep CNN siamese model, but I face problem with overfitting due to amount of data.

I think it is very important how the data looks like for a model choice.
my data is structured in inetnts and entities. So I have same intent (same sentence) with several 100s different e

[2019-08-29 00:24] uduse commented on #783
If you have good hardware support, run tuner on all seemingly good model and pick the best one.

[2019-08-30 08:09] #769 closed

[2019-09-06 08:41] matthew-z opened #786 "Does not work with the latest pandas"
### Describe the bug
cannot `import matchzoo` with the latest `pandas` (in my case 0.25.1) due to the recent api changes in `pandas`.

Error message:
[code]
### To Reproduce
`pip install -U pandas`
`import matchzoo`

### Describe your attempts

downgrading pandas to 0.24 can solve this problem
### Context
 - **OS** [MacOS and Ubuntu 18.04]:
 - **Hardware** [GTX 2080 Ti]:

[2019-09-06 09:54] bwanglzu commented on #786
@matthew-z can you downgrade your tqdm to `tqdm==4.33.0`?

[2019-09-06 10:15] matthew-z commented on #786
Right, upgrading tqdm  can solve this problem.

[2019-09-06 11:00] bwanglzu commented on #786
@matthew-z this is a dependency issue caused by tqdm & pandas, I'll close the issue. Feel free to open new issue for new questions.

[2019-09-06 11:00] #786 closed

[2019-09-06 15:30] matthew-z commented on #781
Same problem here. There is no dataset in `toy` after installing with pip

[2019-09-06 19:27] matthew-z commented on #79
Given a pack object, what is the best way to split it into train/validation/test sets?

[2019-09-06 20:18] matthew-z opened #787 "Speed up preprocess with multiprocessing"
- [x] I checked to make sure that this is not a duplicate issue
- [x] I'm submitting the request to the correct repository (for model requests, see [here](https://github.com/NTMC-Community/awaresome-neural-models-for-semantic-match))

### Is your feature request related to a problem? Please describe.
Current preprocessor only utilises one CPU core, so it is quite slow on large datasets (e.g., it t

[2019-09-06 20:36] matthew-z commented on #782
IIRC, Rank cross entropy loss is a kind of listwise loss

[2019-09-06 22:04] matthew-z commented on #787
BTW, for large dataset, memory may become the bottleneck. For example, I am preprocessing 300,000 documents and it requires more than 80GB during preprocessing. I wonder if there is any workaround?

[2019-09-09 05:21] uduse commented on #787
Since `mz.DataPack` uses `pandas.DataFrame` to store data, it is possible to use Dask to store the data instead. This was once on our schedule but I don't think it will be supported later since the lack of manpower.

[2019-09-09 05:23] uduse commented on #782
I don't think it will be added anytime soon.